{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "printWidth": 150,
  "arrowParens": "always",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2,
        "singleQuote": false
      }
    },
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "tabWidth": 2,
        "singleQuote": false
      }
    },
    {
      "files": ["*.md", "*.markdown"],
      "options": {
        "tabWidth": 2,
        "proseWrap": "preserve",
        "htmlWhitespaceSensitivity": "ignore",
        "embeddedLanguageFormatting": "auto"
      }
    },
    {
      "files": ["*.html", "*.liquid", "*.njk"],
      "options": {
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": true,
        "htmlWhitespaceSensitivity": "ignore",
        "bracketSpacing": true,
        "endOfLine": "lf"
      }
    }
  ]
}
