{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "printWidth": 350,
  "arrowParens": "always",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "plugins": ["@shopify/prettier-plugin-liquid"],
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2,
        "singleQuote": false
      }
    },
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "tabWidth": 2,
        "singleQuote": false
      }
    },
    {
      "files": ["*.md", "*.markdown"],
      "options": {
        "printWidth": 100,
        "proseWrap": "always",
        "tabWidth": 2,
        "singleQuote": true,
        "htmlWhitespaceSensitivity": "ignore",
        "embeddedLanguageFormatting": "auto"
      }
    },
    {
      "files": ["*.html", "*.liquid", "*.njk"],
      "options": {
        "parser": "liquid-html",
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": true,
        "htmlWhitespaceSensitivity": "ignore",
        "embeddedLanguageFormatting": "auto",
        "bracketSpacing": true,
        "endOfLine": "lf"
      }
    }
  ]
}
