<!-- start twitter integration -->
<meta name='twitter:site' content='@{{ site.twitter_username }}'>
<meta property='twitter:image' content='{{ site.url }}{{ page.background }}'>
<meta name='twitter:card' content='summary_large_image'>
{% if seo_tag.image %}
  <meta
    name='twitter:card'
    content='{{ page.twitter.card | default: site.twitter.card | default: "summary_large_image" }}'
  >
  <meta property='twitter:image' content='{{ seo_tag.image.path }}'>
  <meta property='twitter:image' content='{{ site.url }}{{ page.background }}'>
{% else %}
  <meta name='twitter:card' content='summary'>
{% endif %}
<meta name='twitter:creator' content='{{ site.author }}'>
{% if page.title %}
  <meta name='twitter:title' content='{{ page.title }}'>
{% else %}
  <meta name='twitter:title' content='{{ site.title }}'>
{% endif %}
{% if page.url %}
  <meta name='twitter:url' content='{{ site.url }}{{ page.url }}'>
{% endif %}
{% if page.description %}
  <meta name='twitter:description' content='{{ page.description }}'>
{% else %}
  <meta name='twitter:description' content='{{ site.description }}'>
{% endif %}
{% if page.image %}
  <meta name='twitter:image:src' content='{{ site.url }}{{ page.background }}'>
{% else %}
  <meta name='twitter:image:src' content='{{ site.url }}{{ page.background }}'>
{% endif %}
{% if page.title %}
  <meta property='twitter:image:alt' content='{{ page.title }}'>
{% else %}
  <meta property='twitter:image:alt' content='{{ site.title }}'>
{% endif %}
<!-- end twitter integration -->
