<title>
  {% if page.title and page.title != 'Home' %}{{ page.title | strip_html | truncate: 43 }} - {%
  endif %}{{ site.title }}
</title>
<meta
  name="description"
  content="{% if page.description.size > 10 %}
			{{ page.description | truncate: 160 }}
				{% else %}
			{{ site.description | truncate: 160 }}
				{% endif %}"
/>
<meta
  name="keywords"
  content="{{ page.keywords normalize_whitespace | truncate: 160 | escape }}"
  itemprop="keywords"
/>
<meta name="author" content="{{ site.author }}" itemprop="author" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
