<header class="navbar navbar-expand-lg navbar-light fixed-top mb-5 shadow-sm" id="mainNav">
  <nav class="container">
    <!-- Brand/Logo -->
    <a class="navbar-brand" href="{{ '/' | relative_url }}" title="Optikal Bahari">
      <img itemprop="logo" src="{{ './assets/optikalbahari.png' | relative_url }}" width="30" height="30"
        title="{{ site.title | escape }}" alt="{{ site.title | escape }}" />
      {{ site.title | escape }}
    </a>
    <!-- Toggle Button for Mobile -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar Links -->
    <nav class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ '/posts/' | relative_url }}" title="Berita Optikal Bahari">Berita</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/periksa-mata-gratis/' | relative_url }}" title="Periksa Mata Gratis">Periksa
            Mata</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/tips-trik-kacamata/' | relative_url }}" title="Tips & Trik Kacamata">Tips &
            Trik</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/testimoni/' | relative_url }}" title="Testimoni Optikal Bahari">
            Testimoni
            <!-- Light mode badge -->
            <span class="badge badge-pill badge-danger light-icon">New</span>
            <!-- Dark mode badge -->
            <span class="badge badge-pill badge-danger dark-icon">New</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/lokasi/' | relative_url }}" title="Lokasi Optikal Bahari">Lokasi</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <div class="form-check form-switch mb-0">
            <input class="form-check-input" type="checkbox" id="themeToggle"
              aria-label="Toggle between light and dark mode">
            <label class="form-check-label" for="themeToggle">
              <!-- Using Font Awesome stacking for the toggle icon -->
              <span class="fa-stack toggle-icon">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-sun fa-stack-1x light-icon"></i>
                <i class="fas fa-moon fa-stack-1x dark-icon"></i>
              </span>
            </label>
          </div>
        </li>
        <!-- Search Form -->
        <li class="nav-item">
          {% include navigation/navbar-search-google.html %}
        </li>
      </ul>
    </nav>
  </nav>
</header>
