<div class='form-check form-switch mb-0'>
  <input
    class='form-check-input d-none'
    type='checkbox'
    id='themeToggle'
    aria-label='Toggle between light and dark mode'
  >
  <label class='form-check-label p-0 m-0 cursor-pointer' for='themeToggle'>
    <span class='icon-stack toggle-icon' aria-hidden='true'>
      {% include icons/icon-circle.html class="icon-stack-bg" %}
      {% include icons/icon-sun.html class="icon-stack-fg light-icon" %}
      {% include icons/icon-moon.html class="icon-stack-fg dark-icon" %}
    </span>
  </label>
</div>
