<a class="navbar-brand" href="{{ '/' | relative_url }}" title="{{ site.title | escape }}">
  <picture>
    <source
      srcset="{{ 'assets/img/icons/optikalbahari.png' | cloudinary_url: 'w_30,f_avif,q_auto' }} 1x,
              {{ 'assets/img/icons/optikalbahari.png' | cloudinary_url: 'w_60,f_avif,q_auto' }} 2x"
      type="image/avif">

    <source
      srcset="{{ 'assets/img/icons/optikalbahari.png' | cloudinary_url: 'w_30,f_webp,q_auto' }} 1x,
              {{ 'assets/img/icons/optikalbahari.png' | cloudinary_url: 'w_60,f_webp,q_auto' }} 2x"
      type="image/webp">

    <img
      src="{{ 'assets/img/icons/optikalbahari.png' | cloudinary_url: 'w_30,q_auto,f_auto' }}"
      alt="{{ site.title | escape }}"
      width="30"
      height="30"
      fetchpriority="high"
      class="d-inline-block align-top"
    />
  </picture>
  {{ site.title | escape }}
</a>
