<div class="form-check form-switch mb-0">
  <input
    class="form-check-input d-none"
    type="checkbox"
    id="themeToggle"
    aria-label="Toggle between light and dark mode"
  />
  <label class="form-check-label p-0 m-0 cursor-pointer" for="themeToggle">
    <span class="fa-stack toggle-icon" aria-hidden="true">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-sun fa-stack-1x light-icon"></i>
      <i class="fas fa-moon fa-stack-1x dark-icon"></i>
    </span>
  </label>
</div>
