<form method="get" id="search-google" action="https://www.google.com/search" target="_self">
  <input type="hidden" name="sitesearch" value="optikalbahari.com" />
  <input
    type="text"
    name="q"
    maxlength="250"
    value=""
    placeholder="Cari Optikal Bahari"
    class="form-control form-control-sm rounded-pill border custom-search"
  />
  <!-- Search icon container -->
  <div class="search-icon-container">
    <!-- Light mode search icon -->
    <i class="fas fa-search light-icon" aria-label="Search"></i>
    <!-- Dark mode search icon -->
    <i class="fas fa-search dark-icon" aria-label="Search"></i>
  </div>
</form>
