<li class="nav-item">
  <a
    class="nav-link"
    href="{{ '/posts/' | relative_url }}"
    aria-label="Berita Optikal Bahari">
    Berita
  </a>
</li>
<li class="nav-item">
  <a
    class="nav-link"
    href="{{ '/periksa-mata-gratis/' | relative_url }}"
    aria-label="Periksa Mata Gratis"
  >
    Periksa Mata
  </a>
</li>
<li class="nav-item">
  <a
    class="nav-link"
    href="{{ '/tips-trik-kacamata/' | relative_url }}"
    aria-label="Tips & Trik Kacamata"
  >
    Tips & Trik
  </a>
</li>
<li class="nav-item">
  <a
    class="nav-link"
    href="{{ '/testimoni/' | relative_url }}"
    aria-label="Testimoni Optikal Bahari"
  >
    Testimoni
    <span class="badge badge-pill badge-danger ms-2">New</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ '/lokasi/' | relative_url }}" aria-label="Lokasi Optikal Bahari">
    Lokasi
  </a>
</li>
