<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 mx-auto mb-0">
        <!-- icons collections !-->
        <small>
        <ul class="list-inline text-center">
          {% if site.instagram_username %}
            <li class="list-inline-item">
              <a href="https://instagram.com/{{ site.instagram_username }}" title="{{ site.instagram_username }}'s Instagram">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          {% endif %}
          {% if site.pinterest_username %}
            <li class="list-inline-item">
              <a href="https://id.pinterest.com/{{ site.pinterest_username }}" title="{{ site.pinterest_username }}'s Pinterest">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-pinterest fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          {% endif %}
          {% if site.twitter_username %}
            <li class="list-inline-item">
              <a href="https://twitter.com/{{ site.twitter_username }}" title="{{ site.twitter_username }}'s Twitter">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          {% endif %}
          {% if site.facebook_username %}
            <li class="list-inline-item">
              <a href="https://www.facebook.com/{{ site.facebook_username }}" title="{{ site.facebook_username }}'s Facebook">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          {% endif %}
          {% if site.youtube_username %}
            <li class="list-inline-item">
              <a href="https://www.youtube.com/@optikalbahari" title="Optikal Bahari's YouTube">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          {% endif %}
        </ul>
        </small>
        <!-- links collections !-->
        <small>
          <ul class="copyright text-muted list-unstyled">
            <li>
              <a href="{{ '/profil/' | relative_url }}" title="Profil Optikal Bahari">Profil</a> &#183;
            </li>
            <li>
              <a href="{{ '/testimoni/' | relative_url }}" title="Testimoni">Testimoni
                <!-- Light mode badge -->
                <span class="badge badge-pill badge-danger light-icon">New</span>
                <!-- Dark mode badge -->
                <span class="badge badge-pill badge-danger dark-icon">New</span>
              </a> &#183;
            </li>
            <li>
              <a href="{{ '/kacamata-cicilan/' | relative_url }}" title="Kacamata Cicilan">Cicilan</a> &#183;
            </li>
            <li>
              <a href="{{ '/optikal-bahari-kjp-kartu-jakarta-pintar/' | relative_url }}" title="Kartu Jakarta Pintar">KJP</a> &#183;
            </li>
            <li>
              <a href="{{ '/lokasi/' | relative_url }}" title="Lokasi Optikal Bahari">Lokasi</a> &#183;
            </li>
            <li>
              <a href="{{ '/kontak/' | relative_url }}" title="Kontak Optikal Bahari">Kontak</a> &#183;
            </li>
            <li>
              <a href="{{ '/kenapa-optikal-bahari/' | relative_url }}" title="Kenapa Optikal Bahari">Kenapa Optikal Bahari</a>
            </li>
          </ul>
        </small>
          <ul class="copyright text-muted list-unstyled">
            <li>
              <a href="http://bit.ly/3VchsB7" title="Check out Optikal Bahari ⭐⭐⭐⭐⭐ (SEJAK 1978) OPTIK TERDEKAT REKOMENDASI on Google!">
                Check out Optikal Bahari ⭐⭐⭐⭐⭐ (SEJAK 1978) OPTIK TERDEKAT REKOMENDASI on Google!
              </a>
            </li>
          </ul>
        </small>
        <!-- copyright !-->
          <ul class="copyright text-muted list-unstyled">
            <li>
              <a href="{{ '/kebijakan-situs/' | relative_url }}" title="Kebijakan Situs">Kebijakan Situs</a> &#183;
            </li>
            <li>
              <a href="{{ '/' | relative_url }}" title="Hak Cipta &copy; {{ site.author }} {{ 'now' | date: '%Y' }}">
                Hak Cipta &copy; {{ site.author }} {{ 'now' | date: '%Y' }}
              </a>
            </li>
          </ul>
        </small>
      </div>
    </div>
  </div>
</footer>
{% comment %} testing command {% endcomment %}
