<head>
  {% include seo/meta.html %}
  {% include cards/card-seo.html %}
  {% include cards/card-twitter.html %}
  {% include cards/card-fb.html %}
  {% include cards/card-og.html %}
  {% include fonts.html %}
  <link rel="stylesheet" href="{{ '/assets/vendor/fontawesome-free/css/all.min.css' | relative_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ '/assets/vendor/font-awesome-4.5.0/css/font-awesome.min.css' | relative_url }}" media="print" onload="this.media='all'">
  <link rel="preload" href="{{ '/assets/vendor/bootstrap/css/bootstrap.min.css' | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ '/feed.xml' | relative_url }}" />
  <link rel="sitemap" type="application/xml" title="{{ site.title | escape }}" href="{{ '/sitemap.xml' | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="icon" type="image/png" sizes="96x96" href="{{ '/assets/img/icons/favicon.ico' | prepend: site.baseurl | prepend: site.url }}" />
  {% include gtm/gtm-head.html %}
</head>
