<section id="TipsKacamata">
  <div class="card-deckrow mb-3 card-deck">
    <div class="card shadow p-0 mb-3 bg-white rounded hover-zoomin">
      <a
        href="{{"/tips-kacamata/" | relative_url }}"
        role="button"
        title="Tips Memilih Kacamata Sesuai Wajah">
        <img
          itemprop="image"
          src="{{"/assets/img/posts/kpop-female-00/kpop-female-00.jpg" | relative_url "}}"
          class="card-img-top img-fluid"
          loading="lazy"
          alt="Tips Memilih Kacamata Sesuai Wajah">
      </a>
      <div class="card-body">
        <h5 class="card-title">
          <i class="fas fa-check fas-1x"></i>
          Tips Memilih Kacamata Sesuai Wajah
        </h5>
        <p class="card-text">
          Pentingnya mengenali bentuk wajah dalam memilih kacamata, baca lengkapnya disini.
        </p>
          <a
            class="btn btn-primary rounded-pill text-decoration-none"
            href="{{"/tips-kacamata/" | relative_url }}"
            role="button"
            title="Tips Memilih Kacamata Sesuai Wajah">
            Lebih Lanjut
          </a>
      </div>
    </div>

    <div class="card shadow p-0 mb-3 bg-white rounded hover-zoomin">
      <a
        href="{{"/tips-kacamata-pemula-nyaman-dipakai/" | relative_url }}"
        role="button"
        title="Tips Memilih Kacamata Bagi Pemula">
        <img
          itemprop="image"
          src="{{"/assets/img/posts/tips-kacamata-kpop/tips-kacamata-pemula-nyaman-dipakai-02.jpg" | relative_url "}}"
          title="{{ post.title }}"
          class="card-img-top img-fluid"
          loading="lazy"
          alt="Tips Memilih Kacamata Bagi Pemula">
      </a>
      <div class="card-body">
        <h5 class="card-title">
          <i class="fas fa-check fas-1x"></i>
          Tips Memilih Kacamata Bagi Pemula</h5>
        <p class="card-text">
          Baca tips & trik untuk memilih kacamata yang sesuai dengan karakteristik fisik kamu.
        </p>
          <a
            class="btn btn-primary rounded-pill text-decoration-none"
            href="{{"/tips-kacamata-pemula-nyaman-dipakai/" | relative_url }}"
            role="button"
            title="Program Kacamata Cicilan Tanpa Bunga">
            Lebih Lanjut
          </a>
      </div>
    </div>

    <div class="card shadow p-0 mb-3 bg-white rounded hover-zoomin">
      <a
        href="{{"/tips-kacamata-gaya-rambut/" | relative_url }}"
        role="button"
        title="Tips kacamata berdasarkan gaya rambut">
        <img
          itemprop="image"
          src="{{"/assets/img/posts/french-girl/french-girl-02-min.jpg" | relative_url "}}"
          title="{{ post.title }}"
          class="card-img-top img-fluid"
          loading="lazy"
          alt="tips kacamata berdasarkan gaya rambut">
      </a>
      <div class="card-body">
        <h5 class="card-title">
          <i class="fas fa-check fas-1x"></i>
          Tips Memilih Kacamata Berdasarkan Rambut
        </h5>
        <p class="card-text">
          Sedang milih kacamata berdasarkan gaya rambut kamu? Baca dulu detail lengkapnya disini.
        </p>
          <a
            href="{{"/tips-kacamata-gaya-rambut/" | relative_url }}"
            class="btn btn-primary rounded-pill text-decoration-none"
            role="button"
            title="Tips Memilih Kacamata Berdasarkan Rambut">
            Lebih Lanjut
          </a>
      </div>
    </div>
  </div>
</section>