<section id="posts-category1">
	<div class="card-deckrow mb-3 card-deck">
		{% for post in site.categories.Lensa limit : 3 %}
		<div class="card shadow p-0 mb-3 bg-white rounded hover-zoomin">
			<a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}" 
				title="{{ post.title }}">
				{% if page.background %}
				<img itemprop="image" src="{{ post.background | prepend: site.baseurl | replace: '//', '/' }}"
					class="card-img-top img-fluid" 
					alt="{{ post.title }}" />
			</a>
			{% endif %}
			<div class="card-body">
				<h5 class="card-title">
					{{ post.title | truncate: 50 }}
				</h5>
				<p>
					{{ post.description | strip_html | truncate: 100 }}
					<a class="btn btn-primary rounded-pill mt-3 align-text-bottom text-decoration-none"
						href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}"
						title="{{ post.title }}">Lebih Lanjut
					</a>
				</p>
			</div>
			<div class="card-footer">
				<small class="text-muted">
					Posted by <em>{% if post.author %} {{ post.author }} {% else %} {{ site.author }} {% endif %}</em>,
					on {{ post.date
					| date: '%b %d, %Y' }} &middot; {% include read_time.html content=post.content %}
				</small>
			</div>
		</div>
		{% endfor %}
	</div>
</section>

<section id="posts-category2">
	<div class="card-deckrow mb-2 card-deck">
		{% for post in site.categories.Info limit : 3 %}
		<div class="card shadow p-0 mb-3 bg-white rounded hover-zoomin">
			<a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}" title="{{ post.title }}">
				{% if page.background %}
				<img itemprop="image" src="{{ post.background | prepend: site.baseurl | replace: '//', '/' }}"
					class="card-img-top img-fluid" alt="{{ post.title }}" />
			</a>
			{% endif %}
			<div class="card-body">
				<h5 class="card-title">{{ post.title | truncate: 50 }}</h5>
				<p>
					{{ post.description | strip_html | truncate: 100 }}.
					<a class="btn btn-primary rounded-pill mt-3 align-text-bottom text-decoration-none"
						href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}"
						title="{{ post.title }}">Lebih Lanjut</a>
				</p>
			</div>
			<div class="card-footer">
				<small class="text-muted">
					Posted by {% if post.author %} {{ post.author }} {% else %} {{ site.author }} {% endif %} on {{ post.date | date:
					'%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}
				</small>
			</div>
		</div>
		{% endfor %}
	</div>
</section>

<section id="posts-category3">
	<div class="card-deckrow mb-2 card-deck">
		{% for post in site.categories.Trend limit : 3 %}
		<div class="card shadow p-0 mb-3 bg-white rounded hover-zoomin">
			<a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}" title="{{ post.title }}">
				{% if page.background %}
				<img itemprop="image" src="{{ post.background | prepend: site.baseurl | replace: '//', '/' }}"
					class="card-img-top img-fluid" alt="{{ post.title }}" />
			</a>
			{% endif %}
			<div class="card-body">
				<h5 class="card-title">{{ post.title | truncate: 50 }}</h5>
				<p>
					{{ post.description | strip_html | truncate: 100 }}.
					<a class="btn btn-primary rounded-pill mt-3 align-text-bottom text-decoration-none"
						href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}"
						title="{{ post.title }}">Lebih Lanjut</a>
				</p>
			</div>
			<div class="card-footer">
				<small class="text-muted">
					Posted by {% if post.author %} {{ post.author }} {% else %} {{ site.author }} {% endif %} on {{ post.date | date:
					'%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}
				</small>
			</div>
		</div>
		{% endfor %}
	</div>
</section>

<!-- <section id="posts-category">
	<div class="card-deckrow mb-3 card-deck bg-white rounded hover-zoomin">
		{% for post in site.categories.Lensa limit : 3 %}
		<div class="card shadow p-0 mb-3 bg-white rounded">
			<a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}" title="{{ post.title }}">
				{% if page.background %}
				<img 
					itemprop="image"
					src="{{ post.background | prepend: site.baseurl | replace: '//', '/' }}"
					class="card-img-top"
					alt="{{ post.title }}"
					title="{{ post.title }}"
				/>
			</a>
			{% endif %}
			<div class="card-body">
				<h5 class="card-title">
					{{ post.title | truncatewords: 7 }}
				</h5>
				<p class="card-text">
					{{ post.description | strip_html | truncatewords: 12 }}.
				</p>
				<p>
					<a class="btn btn-primary rounded-pill" href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}" 
					role="button" 
					title="{{ post.title }}">
					Selengkapnya
					</a>
				</p>
			</div>
			<div class="card-footer">
				<small class="text-muted">
					Posted by {% if post.author %} {{ post.author }} {% else %} {{ site.author }} {% endif %} on {{ post.date | date:
					'%b %d, %Y' }} &middot; {% include read_time.html content=post.content %}
				</small>
			</div>
		</div>
		{% endfor %}
	</div>
</section> -->
