<section id="TipsKacamata">  
  <div class="card-deckrow mb-2 card-deck">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <a href="{{"/tips-kacamata/" | relative_url }}" role="button" title="Periksa Mata Gratis">
		  <img src="{{"/assets/img/posts/tips-kacamata/tips-kacamata-2.jpg" | relative_url "}}" class="card-img-top" alt="tips-kacamata-2.jpg"></a>
      <div class="card-body">
        <h5 class="card-title">Tips Memilih Kacamata Sesuai Wajah</h5>
        <p class="card-text">Pentingnya mengenali bentuk wajah dalam memilih kacamata, baca lengkapnya disini.</p>
        <p><a class="btn btn-primary rounded-pill" href="{{"/tips-kacamata/" | relative_url }}" role="button" title="Periksa Mata Gratis">Selengkapnya</a>
        </p>
      </div>
    </div>
 
    <div class="card shadow p-3 mb-5 bg-white rounded">
    <a href="{{"/tips-kacamata-pemula-nyaman-dipakai/" | relative_url }}" role="button" title="Tips Memilih Kacamata Bagi Pemula">
      <img src="{{"/assets/img/bg-posts.jpg" | relative_url "}}" class="card-img-top" alt="Tips Memilih Kacamata Bagi Pemula">
    </a>	
      <div class="card-body">
        <h5 class="card-title">Tips Memilih Kacamata Bagi Pemula</h5>
        <p class="card-text">Baca tips & trik untuk memilih kacamata yang sesuai dengan karakteristik fisik kamu.</p>
        <p>
          <a class="btn btn-primary rounded-pill" href="{{"/tips-kacamata-pemula-nyaman-dipakai/" | relative_url }}" role="button"
            title="Program Kacamata Cicilan Tanpa Bunga">Selengkapnya</a>
        </p>
      </div>
    </div>
	
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <a href="{{"/tips-kacamata-gaya-rambut/" | relative_url }}" role="button" title="tips-kacamata-gaya-rambut">	
      <img src="{{"/assets/img/posts/tips-kacamata-pemula/tips-kacamata-pemula-2.jpg" | relative_url "}}" 
      class="card-img-top" alt="tips kacamata berdasarkan gaya rambut"></a>
      <div class="card-body">
        <h5 class="card-title">Tips Memilih Kacamata Berdasarkan Rambut</h5>
        <p class="card-text">Sedang Milih Kacamata Berdasarkan Gaya Rambut Kamu? Baca Dulu Detail Lengkapnya Disini.</p>
        <p>
          <a class="btn btn-primary rounded-pill" href="{{"/tips-kacamata-gaya-rambut/" | relative_url }}" role="button" title="tips-kacamata-gaya-rambut">Selengkapnya</a>
        </p>
      </div>
    </div>
    
  </div>
</section>