<section id="KenapaOptikalBahari">
  <div class="card-deckrow mb-3 card-deck">

    <!-- start the Periksa Mata -->
    <div class="card shadow p-0 mb-3 bg-white rounded hover-zoomin">
      <a
        href="{{"/kacamata-wanita/" | relative_url }}"
        role="button"
        title="Koleksi Kacamata Wanita"
        alt="Koleksi Kacamata Wanita">
        <img
          data-src="{{"/assets/img/posts/whitesand-girls/whitesand-girls-00.webp" | relative_url | resize: "350x235>" | imagesize post.background:props }}"
          src="{{"/assets/img/posts/whitesand-girls/whitesand-girls-00.webp" | relative_url | resize: "350x235>" | imagesize post.background:props }}"
          class="card-img-top img-fluid"
          loading="lazy"
          width="{% imagesize page.background:width %}"
          height="{% imagesize page.background:height %}"
          title="Jelajahi koleksi kacamata wanita Optikal Bahari, manjakan diri Anda dengan beragam koleksi terbaru kami  "
          alt="Jelajahi koleksi kacamata wanita Optikal Bahari, manjakan diri Anda dengan beragam koleksi terbaru kami  ">
      </a>
      <div class="card-body">
        <h5 class="card-title align-middle">
          <i class="fas fa-check fas-1x"></i>
          Kacamata Wanita
        </h5>
        <p class="card-text">
          Jelajahi koleksi kacamata wanita Optikal Bahari, manjakan diri Anda dengan beragam koleksi terbaru kami.
        </p>
        <a
          href="{{"/kacamata-wanita/" | relative_url }}"
          class="btn btn-primary rounded-pill align-text-bottom text-decoration-none"
          role="button"
          title="Jelajahi koleksi kacamata wanita Optikal Bahari, manjakan diri Anda dengan beragam koleksi terbaru kami.">
          Lebih Lanjut
        </a>
      </div>
    </div>
    <!-- end the Periksa Mata -->

    <!-- start the Cicilan -->
    <div class="card shadow p-0 mb-3 bg-white rounded hover-zoomin">
      <a
        href="{{"/kacamata-pria/" | relative_url }}"
        role="button"
        title="Kunjungi segera Optikal Bahari & jelajahi beragam koleksi kacamata pria terbaru impian Anda.">
        <img
          data-src="{{"/assets/img/posts/kacamata-pria/kacamata-pria-00.webp" | relative_url | resize: "350x235>" | imagesize post.background:props }}"
          src="{{"/assets/img/posts/kacamata-pria/kacamata-pria-00.webp" | relative_url | resize: "350x235>" | imagesize post.background:props }}"
          class="card-img-top img-fluid"
          width="{% imagesize page.background:width %}"
          height="{% imagesize page.background:height %}"
          loading="lazy"
          title="Kunjungi Segera Optikal Bahari Sekarang & Jelajahi Beragam Koleksi Kacamata Pria Terbaru Impian Anda."
          alt="Kunjungi Segera Optikal Bahari Sekarang & Jelajahi Beragam Koleksi Kacamata Pria Terbaru Impian Anda.">
      </a>
      <div class="card-body">
        <h5 class="card-title align-middle">
          <i class="fas fa-check fas-1x"></i>
          Kacamata Pria
        </h5>
        <p class="card-text">
          Kunjungi segera Optikal Bahari & jelajahi beragam koleksi kacamata pria terbaru impian Anda.
        </p>
        <a
          href="{{"/kacamata-pria/" | relative_url }}"
          class="btn btn-primary rounded-pill text-decoration-none"
          role="button"
          title="Kunjungi segera Optikal Bahari & jelajahi beragam koleksi kacamata pria terbaru impian Anda.">
          Lebih Lanjut
        </a>
      </div>
    </div>
    <!-- end the Cicilan -->

    <!-- start the bayar KJP -->
    <div class="card shadow p-0 mb-3 bg-white rounded hover-zoomin">
      <a
        href="{{"/kacamata-anak/" | relative_url }}"
        role="button"
        title="Kacamata Anak & Remaja">
        <img
          data-src="{{"/assets/img/posts/kacamata-anak/kacamata-anak-00.webp" | relative_url | resize: "350x235>" | imagesize post.background:props }}"
          src="{{"/assets/img/posts/kacamata-anak/kacamata-anak-00.webp" | relative_url | resize: "350x235>" | imagesize post.background:props }}"
          class="card-img-top img-fluid"
          loading="lazy"
          width="{% imagesize page.background:width %}"
          height="{% imagesize page.background:height %}"
          title="Beragam Koleksi Kacamata Anak & Remaja Terbaru, Siap Menemani Keseharian Buah Hati Anda Sekeluarga"
          alt="Beragam Koleksi Kacamata Anak & Remaja Terbaru, Siap Menemani Keseharian Buah Hati Anda Sekeluarga">
      </a>
      <div class="card-body">
        <h5 class="card-title align-middle">
          <i class="fas fa-check fas-1x"></i>
          Kacamata Anak & Remaja
        </h5>
        <p class="card-text">
          Beragam Koleksi Kacamata Anak & Remaja Terbaru, Siap Menemani Keseharian Buah Hati Anda Sekeluarga
        </p>
        <a
          href="{{"/kacamata-anak/" | relative_url }}"
          class="btn btn-primary rounded-pill text-decoration-none"
          role="button"
          title="Beragam Koleksi Kacamata Anak & Remaja Terbaru, Siap Menemani Keseharian Buah Hati Anda Sekeluarga">
          Lebih Lanjut
        </a>
      </div>
    </div>
  <!-- end the bayar KJP -->
  </div>
</section>