<section id="KenapaOptikalBahari">
  <div class="container">
    <div class="row">
      <!-- Card 1: Periksa Mata -->
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card shadow h-100 p-0 bg-white rounded hover-zoomin">
          <a href="{{ '/periksa-mata-gratis/' | relative_url }}" role="button" title="Periksa Mata Gratis">
            <img itemprop="image" src="{{ '/assets/img/bg-about.webp' }}" class="card-img-top img-fluid" alt="Periksa Mata Gratis" />
          </a>
          <div class="card-body">
            <h5 class="card-title">
              <i class="fas fa-check"></i> Periksa Mata Gratis
            </h5>
            <p class="card-text">Lakukan pemeriksaan mata teratur untuk kesehatan optimal.</p>
            <a href="{{ '/periksa-mata-gratis/' | relative_url }}" class="btn btn-primary rounded-pill">Lebih Lanjut</a>
          </div>
        </div>
      </div>

      <!-- Card 2: Kacamata Cicilan 0% -->
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card shadow h-100 p-0 bg-white rounded hover-zoomin">
          <a href="{{ '/kacamata-cicilan/' | relative_url }}" role="button" title="Kacamata Cicilan 0%">
            <img itemprop="image" src="{{ '/assets/img/bg-index-arch-1.webp' }}" class="card-img-top img-fluid" alt="Kacamata Cicilan 0%" />
          </a>
          <div class="card-body">
            <h5 class="card-title">
              <i class="fas fa-check"></i> Kacamata Cicilan 0%
            </h5>
            <p class="card-text">Beli Kacamata Nyicil tanpa DP, tanpa bunga.</p>
            <a href="{{ '/kacamata-cicilan/' | relative_url }}" class="btn btn-primary rounded-pill">Lebih Lanjut</a>
          </div>
        </div>
      </div>

      <!-- Card 3: Terima Pembayaran KJP -->
      <div class="col-12 col-md-12 col-lg-4 mb-4">
        <div class="card shadow h-100 p-0 bg-white rounded hover-zoomin">
          <a href="{{ '/optikal-bahari-kjp-kartu-jakarta-pintar/' | relative_url }}" role="button" title="Menerima Pembayaran KJP">
            <img itemprop="image" src="{{ '/assets/img/bg-kjp.webp' }}" class="card-img-top img-fluid" alt="Menerima Pembayaran KJP" />
          </a>
          <div class="card-body">
            <h5 class="card-title">
              <i class="fas fa-check"></i> Terima Pembayaran KJP
            </h5>
            <p class="card-text">Kami menerima pembayaran kacamata dengan KJP.</p>
            <a href="{{ '/optikal-bahari-kjp-kartu-jakarta-pintar/' | relative_url }}" class="btn btn-primary rounded-pill">Lebih Lanjut</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
