<section id="KenapaOptikalBahari">
  <div class="container">
    <div class="row">
      <!-- Card 1: Kacamata Wanita -->
      <div class="col-12 col-md-12 col-lg-4 mb-4">
        <div class="card shadow h-100 bg-white rounded hover-zoomin">
          <a href="{{ '/kacamata-wanita/' | relative_url }}" role="button" title="Koleksi Kacamata Wanita" alt="Koleksi Kacamata Wanita">
            <img itemprop="image" src="{{ '/assets/img/posts/whitesand-girls/whitesand-girls-00.webp' }}" srcset="{{ '/assets/img/posts/whitesand-girls/whitesand-girls-00.webp' | srcset }}" width="{{ '/assets/img/posts/whitesand-girls/whitesand-girls-00.webp' | width }}" height="{{ '/assets/img/posts/whitesand-girls/whitesand-girls-00.webp' | height }}" class="card-img-top img-fluid" alt="Koleksi Kacamata Wanita">
          </a>
          <div class="card-body">
            <h5 class="card-title align-middle">
              <i class="fas fa-check text-green fas-1x"></i> Kacamata Wanita
            </h5>
            <p class="card-text">
              Jelajahi koleksi kacamata wanita Optikal Bahari, manjakan diri Anda dengan beragam koleksi terbaru kami.
            </p>
            <a href="{{ '/kacamata-wanita/' | relative_url }}" class="btn btn-primary rounded-pill text-decoration-none" role="button" title="Jelajahi koleksi kacamata wanita Optikal Bahari, manjakan diri Anda dengan beragam koleksi terbaru kami.">
              Lebih Lanjut
            </a>
          </div>
        </div>
      </div>
      <!-- Card 2: Kacamata Pria -->
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card shadow h-100 bg-white rounded hover-zoomin">
          <a
            href="{{ '/kacamata-pria/' | relative_url }}"
            role="button"
            title="Kunjungi segera Optikal Bahari & jelajahi beragam koleksi kacamata pria terbaru impian Anda.">
            <img itemprop="image" src="{{ '/assets/img/posts/kacamata-pria/kacamata-pria-00.webp' }}" srcset="{{ '/assets/img/posts/kacamata-pria/kacamata-pria-00.webp' | srcset }}" width="{{ '/assets/img/posts/kacamata-pria/kacamata-pria-00.webp' | width }}" height="{{ '/assets/img/posts/kacamata-pria/kacamata-pria-00.webp' | height }}" class="card-img-top img-fluid" alt="Kunjungi segera Optikal Bahari & jelajahi beragam koleksi kacamata pria terbaru impian Anda">
          </a>
          <div class="card-body">
            <h5 class="card-title align-middle">
              <i class="fas fa-check text-green fas-1x"></i>
              Kacamata Pria
            </h5>
            <p class="card-text">
              Kunjungi segera Optikal Bahari & jelajahi beragam koleksi kacamata pria terbaru impian Anda.
            </p>
            <a
              href="{{ '/kacamata-pria/' | relative_url }}"
              class="btn btn-primary rounded-pill text-decoration-none"
              role="button"
              title="Kunjungi segera Optikal Bahari & jelajahi beragam koleksi kacamata pria terbaru impian Anda.">
              Lebih Lanjut
            </a>
          </div>
        </div>
      </div>
      <!-- Card 3: Kacamata Anak & Remaja -->
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card shadow h-100 bg-white rounded hover-zoomin">
          <a
            href="{{ '/kacamata-anak/' | relative_url }}"
            role="button"
            title="Kacamata Anak & Remaja">
            <img itemprop="image" src="{{ '/assets/img/posts/kacamata-anak/kacamata-anak-00.webp' }}" srcset="{{ '/assets/img/posts/kacamata-anak/kacamata-anak-00.webp' | srcset }}" width="{{ '/assets/img/posts/kacamata-anak/kacamata-anak-00.webp' | width }}" height="{{ '/assets/img/posts/kacamata-anak/kacamata-anak-00.webp' | height }}" class="card-img-top img-fluid" alt="Kacamata Anak & Remaja">
          </a>
          <div class="card-body">
            <h5 class="card-title align-middle">
              <i class="fas fa-check text-green fas-1x"></i>
              Kacamata Anak Remaja
            </h5>
            <p class="card-text">
              Koleksi Kacamata Anak & Remaja Terbaru, Siap Menemani Buah Hati Anda Sekeluarga
            </p>
            <a
              href="{{ '/kacamata-anak/' | relative_url }}"
              class="btn btn-primary rounded-pill text-decoration-none"
              role="button"
              title="Beragam Koleksi Kacamata Anak & Remaja Terbaru, Siap Menemani Keseharian Buah Hati Anda Sekeluarga">
              Lebih Lanjut
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
