<script type="application/ld+json">
    {
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Apakah periksa mata di Optikal Bahari gratis?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Ya, Optikal Bahari memberikan layanan periksa mata gratis kepada para pembeli kacamata dan lensa di Optikal Bahari."
    }
  },
  {
    "@type": "Question",
    "name": "Apakah di Optikal Bahari memberikan garansi atas pembelian kacamata & lensa?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Ya, Optikal Bahari memberikan garansi untuk setiap pembelian kacamata dan lensa di Optikal Bahari."
    }
  },
  {
    "@type": "Question",
    "name": "Apakah di Optikal Bahari memberikan layanan kacamata cicilan atau kredit?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Ya, Optikal Bahari memberikan layanan kacamata cicilan atau kredit, tanpa credit card, tanpa bunga, tanpa DP, tanpa denda dan bunga 0%."
    }
  },
  {
    "@type": "Question",
    "name": "Apakah di Optikal Bahari menerima pembayaran melalui KJP?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Ya, Optikal Bahari turut mensukseskan program KJP pemerintah, hubungi staff kami untuk pertanyaan lebih lanjut."
    }
  }
  ]
}
</script>