<div itemscope itemtype="https://schema.org/Optician">
    <meta itemprop="url" content="{{ site.url }}" />
    {% if page.title %}
    <meta itemprop="name" content="{{ site.title }}" />
    {% else %}
    <meta itemprop="name" content="{{ page.title }}" />
    {% endif %}
    <meta itemprop="telephone" content="+6281932235445" />
    <meta itemprop="priceRange" content="$" />
    <meta itemprop="address" content="OB" />
    <meta itemprop="currenciesAccepted" content="IDR" />
    <meta itemprop="paymentAccepted" content="Cash, Debit Card" />
    <meta itemprop="alternateName" content="OB" />
    <!-- <img itemprop="image" src="{{ site.url }}/assets/img/posts/periksa-mata/periksa-mata-gratis-optikal-bahari-14.jpg" alt="The Process of our optician during examination" /> -->
    <!-- <img itemprop="image" src="{{ site.url }}/assets/img/posts/periksa-mata/periksa-mata-gratis-optikal-bahari-2.jpg" alt="The Process of our optician during examination" /> -->
    <!-- <img itemprop="image" src="{{ site.url }}/assets/img/posts/periksa-mata/periksa-mata-gratis-optikal-bahari-10.jpg" alt="The Process of our optician during examination" /> -->
    <!-- <img itemprop="image" src="{{ site.url }}/assets/img/posts/periksa-mata/periksa-mata-gratis-optikal-bahari-11.jpg" alt="The Process of our optician during examination" />  -->
    <!-- <img itemprop="logo" src="{{"/assets/optikalbahari.png" | relative_url }}" alt="hotel logo" /> -->
</div>