<script type="application/ld+json">
    {
      "@context":"https://schema.org",
      "@type":"Optician",
      "image":[
          "{{site.url}}/assets/img/posts/periksa-mata/periksa-mata-gratis-optikal-bahari-14.jpg",
          "{{site.url}}/assets/img/posts/periksa-mata/periksa-mata-gratis-optikal-bahari-2.jpg",
          "{{site.url}}/assets/img/posts/periksa-mata/periksa-mata-gratis-optikal-bahari-10.jpg",
          "{{site.url}}/assets/img/posts/periksa-mata/periksa-mata-gratis-optikal-bahari-11.jpg"
          ],
      "name":"{{ site.title }}",
      "address":{
          "@type":"PostalAddress",
          "streetAddress":"Bendungan Jago No 447",
          "addressLocality":"Utan Panjang, Kemayoran",
          "addressRegion":"Jakarta Pusat",
          "postalCode":"10650",
          "addressCountry":"ID"
      },
      "review":{
          "@type":"Review",
          "reviewRating":{
            "@type":"Rating",
            "ratingValue":"5",
            "bestRating":"5"
          },
          "author":{
            "@type":"Organization",
            "name":"Optikal Bahari"
          }
      },
      "geo":{
          "@type":"GeoCoordinates",
          "latitude":-6.161815554395783,
          "longitude":106.85789672789805
      },
      "url":"{{ site.url }}",
      "priceRange":"$",
      "telephone":"+6281932235445",
      "currenciesAccepted":"IDR",
      "paymentAccepted":"Cash, Debit Card",
      "aggregateRating":{
          "@type":"AggregateRating",
          "ratingValue":"5",
          "reviewCount":"427"
      },
      "openingHoursSpecification":[
          {
            "@type":"OpeningHoursSpecification",
            "dayOfWeek":[
                "Monday",
                "Tuesday"
            ],
            "opens":"09:00",
            "closes":"22:00"
          },
          {
            "@type":"OpeningHoursSpecification",
            "dayOfWeek":[
                "Wednesday",
                "Thursday",
                "Friday"
            ],
            "opens":"09:00",
            "closes":"22:00"
          },
          {
            "@type":"OpeningHoursSpecification",
            "dayOfWeek":"Saturday",
            "opens":"09:00",
            "closes":"22:00"
          },
          {
            "@type":"OpeningHoursSpecification",
            "dayOfWeek":"Sunday",
            "opens":"09:00",
            "closes":"22:00"
          }
      ]
    }
</script>