<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Optician",
  "name": "Optikal Bahari",
  "image":[
          "{{site.url}}/assets/img/posts/periksa-mata/periksa-mata-gratis-optikal-bahari-14.jpg",
          "{{site.url}}/assets/img/posts/periksa-mata/periksa-mata-gratis-optikal-bahari-2.jpg",
          "{{site.url}}/assets/img/posts/periksa-mata/periksa-mata-gratis-optikal-bahari-10.jpg",
          "{{site.url}}/assets/img/posts/periksa-mata/periksa-mata-gratis-optikal-bahari-11.jpg"
          ],
  "@id": "https://optikalbahari.com",
  "url": "https://optikalbahari.com",
  "telephone": "+62081932235445",
  "priceRange": "$",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Jalan Bendungan Jago No 447, Kemayoran",
    "addressLocality": "Jakarta Pusat",
    "postalCode": "10650",
    "addressCountry": "ID"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": -6.1619969,
    "longitude": 106.857886
  },
  "openingHoursSpecification": {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": [
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday",
      "Saturday",
      "Sunday"
    ],
    "opens": "08:30",
    "closes": "22:00"
  },
  "sameAs": [
    "https://www.facebook.com/optikalbahari",
    "https://twitter.com/optikalbahari",
    "https://id.pinterest.com/optikalbahari",
    "https://optikalbahari.com/"
  ],
  "department": {
    "@type": "Optician",
    "name": "Optikal Bahari",
    "image": "https://optikalbahari.com/assets/img/bg-index.jpg",
    "telephone": "+62081932235445",
    "openingHoursSpecification": {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
      ],
      "opens": "08:30",
      "closes": "22:00"
    }
  }
}
</script>