{% include richsnippets/richsnippet-json-ld-article.html %}
{% include richsnippets/richsnippet-json-ld-articleNews.html %}
{% include richsnippets/richsnippet-json-ld-breadcrumb.html %}
{% include richsnippets/richsnippet-json-ld-faq.html %}
{% include richsnippets/richsnippet-json-ld-image-background.html %}
{% include richsnippets/richsnippet-json-ld-optician.html %}
{% include richsnippets/richsnippet-json-ld-org.html %}
{% include richsnippets/richsnippet-json-ld-product.html %}
{% include richsnippets/richsnippet-json-ld-review.html %}
{% include richsnippets/richsnippet-json-ld-structurepath.html %}
{% include richsnippets/richsnippet-json-ld-website.html %}
{% include richsnippets/richsnippet-json-ld-smallbusiness.html %}

{% comment %} {% include richsnippets/richsnippet-json-ld-image-license.html %} {% endcomment %}
{% comment %} {% include richsnippets/richsnippet-json-ld-image-schemantra.html %} {% endcomment %}
{% comment %} {% include richsnippets/richsnippet-json-ld-image.html %} {% endcomment %}
