<script
  defer
  src="{{'/assets/vendor/bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js' | relative_url }}">
</script>
<script
  defer
  src="{{'/assets/vendor/startbootstrap-clean-blog/js/clean-blog.js' | relative_url }}">
</script>
<!-- Algolia Search Scripts -->
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.14.2/dist/algoliasearch-lite.umd.js" integrity="sha256-dImjLPVw9r6LIvohe9oJVcgbjF8rW4g7P+93X9z+22E=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.49.1/dist/instantsearch.production.min.js" integrity="sha256-3s8y0g0k7b3p3f6r3y5y5r5y5y5y5y5y5y5y5y5y5y5=" crossorigin="anonymous"></script>
<script
  defer
  src="{{'/assets/js/algolia-search.js' | relative_url }}">
</script>
<script
  defer
  src="{{'/assets/js/scripts.js' | relative_url }}">
</script>
