<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center" id="footer">
            {% if site.email %}
            <li class="list-inline-item">
              <a href="mailto:{{ site.email | encode_email }}">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="far fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            {% endif %}
            {% if site.twitter_username %}
            <li class="list-inline-item">
              <a href="https://twitter.com/{{ site.twitter_username }}">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            {% endif %}
            {% if site.facebook_username %}
            <li class="list-inline-item">
              <a href="https://www.facebook.com/{{ site.facebook_username }}">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            {% endif %}
            <!-- {% if site.linkedin_username %}
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            {% endif %}
            {% if site.github_username %}
            <li class="list-inline-item">
              <a href="https://github.com/{{ site.github_username }}">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            {% endif %} -->
            <!-- {% if site.instagram_username %}
            <li class="list-inline-item">
              <a href="https://www.instagram.com/{{ site.instagram_username }}">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            {% endif %}		   -->
          </ul>
          <div class="copyright">
              <p class="card-text text-left">
                  <a href="/profil/" | relative_url }}" title="Profil Optikal Bahari" class="no-underline">Profil</a> |
                  <a href="/testimoni/" | relative_url }}" title="Testimoni" class="no-underline">Testimoni <span class="badge badge-pill badge-danger">New</span></a> |
                  <a href="/kacamata-cicilan/" | relative_url }}" title="Kacamata Cicilan" class="no-underline">Cicilan</a> |
                  <a href="/optikal-bahari-kjp-kartu-jakarta-pintar/" | relative_url }}" title="Kartu Jakarta Pintar" class="no-underline">Kartu Jakarta Pintar</a> |
                  <a href="/lokasi/" | relative_url }}" title="Lokasi Optikal Bahari" class="no-underline">Lokasi</a> |
                  <a href="/kontak/" | relative_url }}" title="Kontak Optikal Bahari" class="no-underline">Kontak</a> |
                  <a href="/kenapa-optikal-bahari/" | relative_url }}" title="Kenapa Optikal Bahari" class="no-underline">Kenapa Optikal Bahari<a>
                  <br />
                  <a href="https://search.google.com/local/reviews?placeid=ChIJDYWGN6T1aS4RjK50wCfHApg" title="Check out Optikal Bahari ⭐⭐⭐⭐⭐ (SEJAK 1978) OPTIK TERDEKAT REKOMENDASI on Google!">
                  Check out Optikal Bahari ⭐⭐⭐⭐⭐ (SEJAK 1978) OPTIK TERDEKAT REKOMENDASI on Google!
                  </a>
              </p>
              <br />
            </div>
            <p class="card-text text-left">
              Hak Cipta &copy; {{ site.author }} {{ 'now' | date: "%Y" }}
            </p>
        </div>
      </div>
    </div>
  </footer>


<!-- <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="fas fa-circle fa-stack-2x" viewBox="0 0 16 16">
    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
</svg> -->
