<section id='posts-category-lensa'>
  <div class='card-deckrow mb-2 card-deck'>
    {% for post in site.categories.Lensa limit: 3 %}
      <div class='card shadow p-0 mb-3 bg-white rounded hover-zoomin'>
        <a href='{{ post.url | prepend: site.baseurl | replace: '//', '/' }}' title='{{ post.title }}'>
          {% if page.background %}
            <!--
              <picture>
              <!-- AVIF format
            -->
            <source
              srcset='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_avif,w_480/bg-index-arch-5 480w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_avif,w_768/bg-index-arch-5 768w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_avif,w_1200/bg-index-arch-5 1200w'
              type='image/avif'
              sizes='(max-width: 768px) 100vw, 768px'
            >

            <!-- WEBP format -->
            <source
              srcset='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_webp,w_480/bg-index-arch-5 480w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_webp,w_768/bg-index-arch-5 768w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_webp,w_1200/bg-index-arch-5 1200w'
              type='image/webp'
              sizes='(max-width: 768px) 100vw, 768px'
            >

            <!-- JPEG fallback -->
            <source
              srcset='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_jpg,w_480/bg-index-arch-5 480w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_jpg,w_768/bg-index-arch-5 768w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_jpg,w_1200/bg-index-arch-5 1200w'
              type='image/jpeg'
              sizes='(max-width: 768px) 100vw, 768px'
            >

            <!-- Final fallback with alt and lazy loading -->
            <img
              src='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_jpg,w_768/bg-index-arch-5'
              alt='{{ post.title }}'
              loading='lazy'
              decoding='async'
              width='{% imagesize page.background:width %}'
              height='{% imagesize page.background:height %}'
              class='card-img-top img-fluid'
            >
            </picture>
            -->
            <picture>
              <!-- AVIF format -->
              <source
                srcset='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_avif,w_480/bg-index-arch-5 480w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_avif,w_768/bg-index-arch-5 768w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_avif,w_1200/bg-index-arch-5 1200w'
                type='image/avif'
                sizes='(max-width: 768px) 100vw, 768px'
              >

              <!-- WEBP format -->
              <source
                srcset='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_webp,w_480/bg-index-arch-5 480w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_webp,w_768/bg-index-arch-5 768w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_webp,w_1200/bg-index-arch-5 1200w'
                type='image/webp'
                sizes='(max-width: 768px) 100vw, 768px'
              >

              <!-- JPEG fallback -->
              <source
                srcset='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_jpg,w_480/bg-index-arch-5 480w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_jpg,w_768/bg-index-arch-5 768w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_jpg,w_1200/bg-index-arch-5 1200w'
                type='image/jpeg'
                sizes='(max-width: 768px) 100vw, 768px'
              >

              <!-- Final fallback with alt and lazy loading -->
              <img
                src='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_jpg,w_768/bg-index-arch-5'
                alt='{{ post.title }}'
                loading='lazy'
                decoding='async'
                width='{{ post.background | width }}'
                height='{{ post.background | height }}'
                class='card-img-top img-fluid'
              >
            </picture>
          {% endif %}
        </a>
        <div class='card-body'>
          <h5 class='card-title'>
            {{ post.title | truncate: 50 }}
          </h5>
          <p class='card-text'>
            {{ post.description | strip_html | truncate: 100 }}.
            <a
              class='btn btn-primary rounded-pill mt-3 align-text-bottom text-decoration-none'
              href='{{ post.url | prepend: site.baseurl | replace: '//', '/' }}'
              title='{{ post.title }}'
            >
              Lebih Lanjut
            </a>
          </p>
        </div>
        <div class='card-footer'>
          <small class='text-muted'>
            Posted by
            {% if post.author %}
              {{ post.author }}
            {% else %}
              {{ site.author }}
            {% endif %}
            on {{ post.date | date: '%B %d, %Y' }} &middot;
            {% include postcards/read_time.html content=post.content %}
          </small>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<section id='posts-category-info'>
  <div class='card-deckrow mb-2 card-deck'>
    {% for post in site.categories.Info limit: 3 %}
      <div class='card shadow p-0 mb-3 bg-white rounded hover-zoomin'>
        <a href='{{ post.url | prepend: site.baseurl | replace: '//', '/' }}' title='{{ post.title }}'>
          {% if page.background %}
            <!--
              <picture>
              <!-- AVIF format
            -->
            <source
              srcset='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_avif,w_480/bg-index-arch-5 480w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_avif,w_768/bg-index-arch-5 768w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_avif,w_1200/bg-index-arch-5 1200w'
              type='image/avif'
              sizes='(max-width: 768px) 100vw, 768px'
            >

            <!-- WEBP format -->
            <source
              srcset='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_webp,w_480/bg-index-arch-5 480w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_webp,w_768/bg-index-arch-5 768w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_webp,w_1200/bg-index-arch-5 1200w'
              type='image/webp'
              sizes='(max-width: 768px) 100vw, 768px'
            >

            <!-- JPEG fallback -->
            <source
              srcset='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_jpg,w_480/bg-index-arch-5 480w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_jpg,w_768/bg-index-arch-5 768w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_jpg,w_1200/bg-index-arch-5 1200w'
              type='image/jpeg'
              sizes='(max-width: 768px) 100vw, 768px'
            >

            <!-- Final fallback with alt and lazy loading -->
            <img
              src='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_jpg,w_768/bg-index-arch-5'
              alt='{{ post.title }}'
              loading='lazy'
              decoding='async'
              width='{% imagesize page.background:width %}'
              height='{% imagesize page.background:height %}'
              class='card-img-top img-fluid'
            >
            </picture>
            -->
            <picture>
              <!-- AVIF format -->
              <source
                srcset='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_avif,w_480/bg-index-arch-5 480w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_avif,w_768/bg-index-arch-5 768w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_avif,w_1200/bg-index-arch-5 1200w'
                type='image/avif'
                sizes='(max-width: 768px) 100vw, 768px'
              >

              <!-- WEBP format -->
              <source
                srcset='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_webp,w_480/bg-index-arch-5 480w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_webp,w_768/bg-index-arch-5 768w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_webp,w_1200/bg-index-arch-5 1200w'
                type='image/webp'
                sizes='(max-width: 768px) 100vw, 768px'
              >

              <!-- JPEG fallback -->
              <source
                srcset='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_jpg,w_480/bg-index-arch-5 480w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_jpg,w_768/bg-index-arch-5 768w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_jpg,w_1200/bg-index-arch-5 1200w'
                type='image/jpeg'
                sizes='(max-width: 768px) 100vw, 768px'
              >

              <!-- Final fallback with alt and lazy loading -->
              <img
                src='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_jpg,w_768/bg-index-arch-5'
                alt='{{ post.title }}'
                loading='lazy'
                decoding='async'
                width='{{ post.background | width }}'
                height='{{ post.background | height }}'
                class='card-img-top img-fluid'
              >
            </picture>
          {% endif %}
        </a>
        <div class='card-body'>
          <h5 class='card-title'>
            {{ post.title | truncate: 50 }}
          </h5>
          <p class='card-text'>
            {{ post.description | strip_html | truncate: 100 }}.
            <a
              class='btn btn-primary rounded-pill mt-3 align-text-bottom text-decoration-none'
              href='{{ post.url | prepend: site.baseurl | replace: '//', '/' }}'
              title='{{ post.title }}'
            >
              Lebih Lanjut
            </a>
          </p>
        </div>
        <div class='card-footer'>
          <small class='text-muted'>
            Posted by
            {% if post.author %}
              {{ post.author }}
            {% else %}
              {{ site.author }}
            {% endif %}
            on {{ post.date | date: '%B %d, %Y' }} &middot;
            {% include postcards/read_time.html content=post.content %}
          </small>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<section id='posts-category-trend'>
  <div class='card-deckrow mb-2 card-deck'>
    {% for post in site.categories.Trend limit: 3 %}
      <div class='card shadow p-0 mb-3 bg-white rounded hover-zoomin'>
        <a href='{{ post.url | prepend: site.baseurl | replace: '//', '/' }}' title='{{ post.title }}'>
          {% if page.background %}
            <!--
              <picture>
              <!-- AVIF format
            -->
            <source
              srcset='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_avif,w_480/bg-index-arch-5 480w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_avif,w_768/bg-index-arch-5 768w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_avif,w_1200/bg-index-arch-5 1200w'
              type='image/avif'
              sizes='(max-width: 768px) 100vw, 768px'
            >

            <!-- WEBP format -->
            <source
              srcset='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_webp,w_480/bg-index-arch-5 480w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_webp,w_768/bg-index-arch-5 768w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_webp,w_1200/bg-index-arch-5 1200w'
              type='image/webp'
              sizes='(max-width: 768px) 100vw, 768px'
            >

            <!-- JPEG fallback -->
            <source
              srcset='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_jpg,w_480/bg-index-arch-5 480w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_jpg,w_768/bg-index-arch-5 768w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_jpg,w_1200/bg-index-arch-5 1200w'
              type='image/jpeg'
              sizes='(max-width: 768px) 100vw, 768px'
            >

            <!-- Final fallback with alt and lazy loading -->
            <img
              src='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_jpg,w_768/bg-index-arch-5'
              alt='{{ post.title }}'
              loading='lazy'
              decoding='async'
              width='{% imagesize page.background:width %}'
              height='{% imagesize page.background:height %}'
              class='card-img-top img-fluid'
            >
            </picture>
            -->
            <picture>
              <!-- AVIF format -->
              <source
                srcset='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_avif,w_480/bg-index-arch-5 480w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_avif,w_768/bg-index-arch-5 768w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_avif,w_1200/bg-index-arch-5 1200w'
                type='image/avif'
                sizes='(max-width: 768px) 100vw, 768px'
              >

              <!-- WEBP format -->
              <source
                srcset='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_webp,w_480/bg-index-arch-5 480w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_webp,w_768/bg-index-arch-5 768w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_webp,w_1200/bg-index-arch-5 1200w'
                type='image/webp'
                sizes='(max-width: 768px) 100vw, 768px'
              >

              <!-- JPEG fallback -->
              <source
                srcset='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_jpg,w_480/bg-index-arch-5 480w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_jpg,w_768/bg-index-arch-5 768w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_jpg,w_1200/bg-index-arch-5 1200w'
                type='image/jpeg'
                sizes='(max-width: 768px) 100vw, 768px'
              >

              <!-- Final fallback with alt and lazy loading -->
              <img
                src='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto,f_jpg,w_768/bg-index-arch-5'
                alt='{{ post.title }}'
                loading='lazy'
                decoding='async'
                width='{{ post.background | width }}'
                height='{{ post.background | height }}'
                class='card-img-top img-fluid'
              >
            </picture>
          {% endif %}
        </a>
        <div class='card-body'>
          <h5 class='card-title'>
            {{ post.title | truncate: 50 }}
          </h5>
          <p class='card-text'>
            {{ post.description | strip_html | truncate: 100 }}.
            <a
              class='btn btn-primary rounded-pill mt-3 align-text-bottom text-decoration-none'
              href='{{ post.url | prepend: site.baseurl | replace: '//', '/' }}'
              title='{{ post.title }}'
            >
              Lebih Lanjut
            </a>
          </p>
        </div>
        <div class='card-footer'>
          <small class='text-muted'>
            Posted by
            {% if post.author %}
              {{ post.author }}
            {% else %}
              {{ site.author }}
            {% endif %}
            on {{ post.date | date: '%B %d, %Y' }} &middot;
            {% include postcards/read_time.html content=post.content %}
          </small>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
