<meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="dns-prefetch" href="https://www.google-analytics.com">
  <link rel="dns-prefetch" href="https://www.googletagmanager.com">
  <link rel="dns-prefetch" href="https://connect.facebook.net">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="google-site-verification" content="S78mNAZQFqN0fjs9uj0jlw53fp_JUq1gR7KZry7NoNs" />
  <meta name="facebook-domain-verification" content="okvg0cr9ei1ai8ubn3xjild1y38oyr" />
  <meta name="p:domain_verify" content="8742998c66c600725ea8758b3d48ca40" />
  <meta name="google-site-verification" content="QwzD8MDRyjoNO82pFwdmrUnOrzhvLieKNF8E2iQq4ag" />
