---
layout: default
---

<div
	itemscope
	itemtype="https://schema.org/WebSite">
	<meta
		itemprop="url"
		content="{{ site.url }}" />
	{% if page.title %}
	<meta
		itemprop="name"
		content="{{ page.title }}" />
	{% else %}
	<meta
		itemprop="name"
		content="{{ site.title }}" />
	{% endif %}
	<meta
		itemprop="alternateName"
		content="OB" />
</div>
{% include json-ld.html %}
<form
	name="sentMessage"
	id="contactForm"
	novalidate
	action="https://formspree.io/gerryleonugroho@gmail.com"
	method="post">
	<input
		type="hidden"
		name="_subject"
		value="Halllo from contact form!" />
	<input
		type="text"
		name="_gotcha"
		style="display: none" />
	<div class="control-group">
		<div class="form-group floating-label-form-group controls">
			<label></label>
			<input
				type="text"
				class="form-control"
				placeholder=""
				id="name"
				name="name"
				required
				data-validation-required-message="" />
			<div class="help-block text-danger"></div>
		</div>

		<div class="form-group floating-label-form-group controls">
			<label></label>
			<input
				type="email"
				class="form-control"
				placeholder=""
				id="email"
				name="email"
				required
				data-validation-validemail-message=""
				data-validation-required-message="" />
			<div class="help-block text-danger"></div>
		</div>

		<div class="form-group floating-label-form-group controls">
			<label></label>
			<textarea
				rows="5"
				class="form-control"
				placeholder=""
				id="message"
				name="message"
				required
				data-validation-required-message=""></textarea>
			<div class="help-block text-danger"></div>
		</div>
	</div>
	<br />
	<div id="success"></div>
	<div class="form-group">
		<button
			type="submit"
			class="btn btn-primary"
			id="sendMessageButton">
			Send
		</button>
	</div>
</form>
