---
layout: compress
---

<!DOCTYPE html>
{% include head.html %}
<body>
  {{ content }}
  {% include wa-body.html %}
  {% include footer.html %}
</body>
{% include richsnippet-json-ld-article.json %}
{% include richsnippet-json-ld-articleNews.json %}
{% include richsnippet-json-ld-breadcrumb.json %}
{% include richsnippet-json-ld-faq.json %}
{% include richsnippet-json-ld-image.json %}
{% include richsnippet-json-ld-optician.json %}
{% include richsnippet-json-ld-org.json %}
{% include richsnippet-json-ld-product.json %}
{% include richsnippet-json-ld-structurepath.json %}
{% include richsnippet-json-ld-website.json %}
{% include gtm-head.html %}
{% include gtm-body.html %}
{% include fb-comments-bodytag.html %}
{% include scripts.html %}

{% if page.json_ld_images %}
  {% for json_ld_image in page.json_ld_images %}
    {{ json_ld_image | raw }}
  {% endfor %}
{% endif %}</html>