---
layout: default
---
{% include navbar.html %}

<!-- Page Header -->
{% if page.background %}
<header class="masthead"
		style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
		{% else %}
		<header class="masthead">
		{% endif %}
					<div class="container">
						<div class="row">
							<div class="col-lg-8 col-md-10 mx-auto">
								<div class="page-heading">
									<h1>
										{{ site.tagline }}
									</h1>
									{% if site.description %}
									<span class="subheading text-capitalize">
										{{ site.description }}
									</span>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
</header>
				<!-- end page header -->
				<!-- <main> -->

			<div class="container">
				<!-- <div class="row"> -->
				<!-- <div class="col-lg-8 col-md-10 mx-auto"> -->
				<!-- {{ content }} -->
				{% include home-cards.html %}
				{% include home-cards-glasses.html %}
				{% include home-cards-category.html %}
				<!-- {% include home-cards-testimony.html %} -->
				<!-- </div> -->
				<!-- </div> -->
			</div>
			<!-- </main> -->
</header>