---
layout: default
---

{% include navbar.html %}

<!-- Page Header -->
{% if page.background %}
<header
	class="masthead"
	style="background-image:url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
	{% else %}
	<header class="masthead">
		{% endif %}
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="page-heading">
						<h1>{{ page.title }}</h1>
						{% if page.subtitle %}
						<h2 class="subheading text-capitalize">{{ page.subtitle }}</h2>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- end page header -->
	<!-- <main> -->
</header>

<div class="container">
	<!-- <div class="row"> -->
	<!-- <div class="col-lg-8 col-md-10 mx-auto"> -->
	{{ content }}
	<!-- {% include home-cards-testimony.html %} -->
	<!-- </div> -->
	<!-- </div> -->
</div>
<!-- </main> -->
