---
layout: default
lang: id-ID
title: Testimonial tentang layanan Optikal Bahari
subtitle: 'Terdini & Terkini'
description: 'Berita seputaran perkembangan produk dan layanan terbaru dari Optikal Bahari'
keywords: 'Berita, Bendungan Jago No 447, Optikal Bahari, Kemayoran, Optikal, Optik, Kacamata, Gratis'
---

<!-- Page Header -->
{% include navigation/navbar.html %}
{% if page.background %}
<header
  class="masthead"
  style="background-image: url('{% if page.background contains 'http' %}
    {{ page.background | replace: '//', '/' }}
      {% else %}
    {{ page.background | prepend: site.baseurl | resize: "1024x1024>" | replace: '//', '/' }}
  {% endif %}')">
  {% else %}

  <header class="masthead">
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
            <h2 class="subheading">
              {{ page.subtitle }}
            </h2>
            {% endif %}
            <span class="meta">
              Posted by
              <a href="#">
                {% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}
              </a>
              on {{ page.date | date: '%B %d, %Y' }} &middot; {% include postcards/read_time.html
              content=page.content %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    {{ content }}
    <hr />
  </div>
</header>
