<!-- start the Periksa Mata -->
<div class='card shadow p-0 mb-3 bg-white rounded hover-zoomin'>
  <a
    href='{{ '/periksa-mata/' | relative_url }}'
    role='button'
    title='Periksa Mata Gratis'
  >
    <picture>
      <source
        srcset='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_avif,w_480,dpr_auto/bg-about 480w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_avif,w_768,dpr_auto/bg-about 768w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_avif,w_1200,dpr_auto/bg-about 1200w'
        type='image/avif'
        sizes='(max-width: 768px) 100vw, 768px'
      >
      <source
        srcset='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_webp,w_480,dpr_auto/bg-about 480w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_webp,w_768,dpr_auto/bg-about 768w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_webp,w_1200,dpr_auto/bg-about 1200w'
        type='image/webp'
        sizes='(max-width: 768px) 100vw, 768px'
      >
      <source
        srcset='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_jpg,w_480,dpr_auto/bg-about 480w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_jpg,w_768,dpr_auto/bg-about 768w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_jpg,w_1200,dpr_auto/bg-about 1200w'
        type='image/jpeg'
        sizes='(max-width: 768px) 100vw, 768px'
      >
      <img
        src='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_jpg,w_768,dpr_auto/bg-about'
        alt='Periksa Mata Gratis'
        loading='lazy'
        decoding='async'
      class='card-img-top img-fluid'
      >
    </picture>
  </a>
  <div class='card-body'>
    <h5 class='card-title align-middle'>
      <i class='fas fa-check text-green fas-1x'></i>
      Periksa Mata Gratis
    </h5>
    <p class='card-text text-start'>Lakukan pemeriksaan mata teratur, agar terdeteksi segala keluahan dan perubahan ukuran mata.</p>
    <p class='card-text text-start'>
      <a
        class='btn btn-primary rounded-pill text-white align-text-bottom'
        href='{{ '/periksa-mata/' | relative_url }}'
        role='button'
        title='Periksa Mata Gratis'
      >
        Lebih Lanjut
      </a>
    </p>
  </div>
</div>
<!-- end the Periksa Mata -->
