<section id="KenapaOptikalBahari">
  <div class="card-deck mb-3">
    <div class="row">
      <!-- Card 1: Testimoni Pelanggan-->
      <div class="col-12 col-md-12 col-lg-4 mb-5">
        <div class="card shadow h-100 p-0 bg-white rounded hover-zoomin">
          <a
            href="{{ '/testimoni/' | relative_url }}"
            role="button"
            title="Testimoni Pelanggan"
          >
            {% include cloudinary/thumbnail_image.html
              src="assets/img/bg-index-arch-5.webp"
              alt="Testimoni Pelanggan"
              ratio="16x9"
              class="card-img-top"
              loading="lazy" %}
          </a>
          <div class="card-body">
            <h5 class="card-title">
              <i class="fa-solid fa-circle-check text-green"></i>
              Testimoni Pelanggan
            </h5>
            <p class="card-text">
              Testimoni Pelanggan dan Konsumen Kami: Bukti Kepercayaan dan Kepuasan
            </p>
            <a
              href="{{ '/testimoni/' | relative_url }}"
              class="btn btn-primary rounded-pill text-white text-white"
              title="Testimoni Pelanggan"
            >
              <i class="fa-solid fa-circle-arrow-right text-white"></i> Lebih Lanjut
            </a>
          </div>
        </div>
      </div>
      <!-- Card 2: Kenapa Optikal Bahari -->
      <div class="col-12 col-md-6 col-lg-4 mb-5">
        <div class="card shadow h-100 p-0 bg-white rounded hover-zoomin">
          <a
            href="{{ '/kenapa-optikal-bahari/' | relative_url }}"
            role="button"
            title="Kenapa Optikal Bahari"
          >
            {% include cloudinary/thumbnail_image.html
              src="assets/img/bg-periksa-mata.webp"
              alt="Kenapa Optikal Bahari"
              ratio="16x9"
              class="card-img-top"
              loading="lazy" %}
          </a>
          <div class="card-body">
            <h5 class="card-title">
              <i class="fa-solid fa-circle-check text-green"></i>
              Kenapa Optikal Bahari
            </h5>
            <p class="card-text">
              Tempat Jual Kacamata Keren, Terbaik, Tanpa Ribet dan Gak Pake Lama
            </p>
            <a
              href="{{ '/kenapa-optikal-bahari/' | relative_url }}"
              class="btn btn-primary rounded-pill text-white text-white"
              title="Kenapa Optikal Bahari"
            >
              <i class="fa-solid fa-circle-arrow-right text-white"></i> Lebih Lanjut
            </a>
          </div>
        </div>
      </div>
      <!-- Card 3: Lokasi Optikal Bahari -->
      <div class="col-12 col-md-6 col-lg-4 mb-5">
        <div class="card shadow h-100 p-0 bg-white rounded hover-zoomin">
          <a
            href="{{ '/lokasi/' | relative_url }}"
            role="button"
            title="Lokasi Optikal Bahari"
          >
            {% include cloudinary/thumbnail_image.html
              src="assets/img/splash-screen/bg-splash-post-05.webp"
              alt="Lokasi Optikal Bahari"
              ratio="16x9"
              class="card-img-top"
              loading="lazy" %}
          </a>
          <div class="card-body">
            <h5 class="card-title">
              <i class="fa-solid fa-circle-check text-green"></i>
              Lokasi Optikal Bahari
            </h5>
            <p class="card-text">Segera rencanakan kunjungan anda ke Optikal Bahari.</p>
            <a
              href="{{ '/lokasi/' | relative_url }}"
              class="btn btn-primary rounded-pill text-white text-white"
              title="Lokasi Optikal Bahari"
            >
              <i class="fa-solid fa-circle-arrow-right text-white"></i> Lebih Lanjut
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
