<section id='KenapaOptikalBahari'>
  <div class='card-deck mb-3'>
    <div class='card shadow p-3 mb-5 bg-white rounded'>
      <a
        href='{{ '/periksa-mata/' | relative_url }}'
        role='button'
        title='Periksa Mata Gratis'
      >
        <picture>
          <source
            srcset='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_avif,w_480,dpr_auto/bg-about 480w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_avif,w_768,dpr_auto/bg-about 768w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_avif,w_1200,dpr_auto/bg-about 1200w'
            type='image/avif'
            sizes='(max-width: 768px) 100vw, 768px'
          >
          <source
            srcset='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_webp,w_480,dpr_auto/bg-about 480w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_webp,w_768,dpr_auto/bg-about 768w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_webp,w_1200,dpr_auto/bg-about 1200w'
            type='image/webp'
            sizes='(max-width: 768px) 100vw, 768px'
          >
          <source
            srcset='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_jpg,w_480,dpr_auto/bg-about 480w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_jpg,w_768,dpr_auto/bg-about 768w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_jpg,w_1200,dpr_auto/bg-about 1200w'
            type='image/jpeg'
            sizes='(max-width: 768px) 100vw, 768px'
          >
          <img
            src='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_jpg,w_768,dpr_auto/bg-about'
            alt='Periksa Mata Gratis'
            loading='lazy'
            decoding='async'
      class='card-img-top'
          >
        </picture>
      </a>
      <div class='card-body'>
        <h5 class='card-title'>Periksa Mata Gratis</h5>
        <p class='card-text text-start'>Lakukan pemeriksaan mata secara rutin dan teratur, idealnya setiap 6 bulan sekali, agar selalu terdeteksi perubahan ukuran mata anda.</p>
        <p class='card-text text-start'>
          <a
            class='btn btn-primary rounded-pill text-white'
            href='{{ '/periksa-mata/' | relative_url }}'
            role='button'
            title='Periksa Mata Gratis'
          >
            Lebih Lanjut
          </a>
        </p>
      </div>
    </div>

    <div class='card shadow p-3 mb-5 bg-white rounded'>
      <a
        href='{{ '/kacamata-cicilan/' | relative_url }}'
        role='button'
        title='Program Kacamata Cicilan Tanpa Bunga'
      >
        <picture>
          <source
            srcset='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_avif,w_480,dpr_auto/bg-index-arch-1 480w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_avif,w_768,dpr_auto/bg-index-arch-1 768w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_avif,w_1200,dpr_auto/bg-index-arch-1 1200w'
            type='image/avif'
            sizes='(max-width: 768px) 100vw, 768px'
          >
          <source
            srcset='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_webp,w_480,dpr_auto/bg-index-arch-1 480w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_webp,w_768,dpr_auto/bg-index-arch-1 768w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_webp,w_1200,dpr_auto/bg-index-arch-1 1200w'
            type='image/webp'
            sizes='(max-width: 768px) 100vw, 768px'
          >
          <source
            srcset='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_jpg,w_480,dpr_auto/bg-index-arch-1 480w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_jpg,w_768,dpr_auto/bg-index-arch-1 768w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_jpg,w_1200,dpr_auto/bg-index-arch-1 1200w'
            type='image/jpeg'
            sizes='(max-width: 768px) 100vw, 768px'
          >
          <img
            src='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_jpg,w_768,dpr_auto/bg-index-arch-1'
            alt='Ada Program Cicilan'
            loading='lazy'
            decoding='async'
      class='card-img-top'
          >
        </picture>
      </a>
      <div class='card-body'>
        <h5 class='card-title'>Ada Program Cicilan</h5>
        <p class='card-text text-start'>Hanya di Optikal Bahari Bisa Beli Kacamata yang Bisa Nyicil, Tanpa melakukan DP, Tanpa Credit Card dan Tanpa Bunga</p>
        <p class='card-text text-start'>
          <a
            class='btn btn-primary rounded-pill text-white rounded'
            href='{{ '/kacamata-cicilan/' | relative_url }}'
            role='button'
            title='Program Kacamata Cicilan Tanpa Bunga'
          >
            Lebih Lanjut
          </a>
        </p>
      </div>
    </div>

    <div class='card shadow p-3 mb-5 bg-white rounded'>
      <a
        href='{{ '/optikal-bahari-kjp-kartu-jakarta-pintar/' | relative_url }}'
        role='button'
        title='Menerima Pembayaran KJP'
      >
        <picture>
          <source
            srcset='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_avif,w_480,dpr_auto/bg-index-arch-2 480w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_avif,w_768,dpr_auto/bg-index-arch-2 768w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_avif,w_1200,dpr_auto/bg-index-arch-2 1200w'
            type='image/avif'
            sizes='(max-width: 768px) 100vw, 768px'
          >
          <source
            srcset='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_webp,w_480,dpr_auto/bg-index-arch-2 480w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_webp,w_768,dpr_auto/bg-index-arch-2 768w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_webp,w_1200,dpr_auto/bg-index-arch-2 1200w'
            type='image/webp'
            sizes='(max-width: 768px) 100vw, 768px'
          >
          <source
            srcset='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_jpg,w_480,dpr_auto/bg-index-arch-2 480w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_jpg,w_768,dpr_auto/bg-index-arch-2 768w,https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_jpg,w_1200,dpr_auto/bg-index-arch-2 1200w'
            type='image/jpeg'
            sizes='(max-width: 768px) 100vw, 768px'
          >
          <img
            src='https://res.cloudinary.com/divkqrf7k/image/upload/q_auto:eco,f_jpg,w_768,dpr_auto/bg-index-arch-2'
            alt='Menerima Pembayaran KJP'
            loading='lazy'
            decoding='async'
      class='card-img-top'
          >
        </picture>
      </a>
      <div class='card-body'>
        <h5 class='card-title'>Menerima KJP</h5>
        <p class='card-text text-start'>Hanya di Optikal Bahari, yang melayani metode pembelian kacamata anda, dengan mekanisme pembayaran KJP (Kartu Jakarta Pintar).</p>
        <p class='card-text text-start'>
          <a
            class='btn btn-primary rounded-pill text-white'
            href='{{ '/optikal-bahari-kjp-kartu-jakarta-pintar/' | relative_url }}'
            role='button'
            title='Menerima Pembayaran KJP'
          >
            Lebih Lanjut
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
