<!-- start the Periksa Mata -->
<div class='card shadow p-0  hover-zoomin'>
  <a
    href='{{ '/periksa-mata/' | relative_url }}'
    role='button'
    title='Periksa Mata Gratis'
  >
    <img
      itemprop='image'
      src='{{ '/assets/img/bg-about.jpg' | relative_url }}'
      class='card-img-top img-fluid'
      loading='lazy'
      alt='Periksa Mata Gratis'
    >
  </a>
  <div class='card-body'>
    <h3 class='card-title align-middle'>
      {% include icons/icon-circle-check.html class="icon-inline text-green" %}
      Periksa Mata Gratis
    </h3>
    <p class='card-text text-start'>Lakukan pemeriksaan mata teratur, agar terdeteksi segala keluahan dan perubahan ukuran mata.</p>
    <p class='card-text text-start'>
      <a
        class='btn btn-primary rounded-pill text-white align-text-bottom'
        href='{{ '/periksa-mata/' | relative_url }}'
        role='button'
        title='Periksa Mata Gratis'
      >
        {% include icons/icon-circle-arrow-right.html class="icon-inline text-white" %}
        Lebih Lanjut
      </a>
    </p>
  </div>
</div>
<!-- end the Periksa Mata -->
