<section id="KenapaOptikalBahari">
  <div class="card-deck mb-3">
    <div class="row">

      <div class="col-12 col-md-12 col-lg-4 mb-5">
        <div class="card shadow h-100 bg-white rounded hover-zoomin">
          <a href="{{ '/kacamata-wanita/' | relative_url }}" role="button" title="Koleksi Kacamata Wanita">
            <!-- Card:1 Kacamata Wanita -->
            {% include cloudinary/card_image.html
              src="assets/img/posts/whitesand-girls/whitesand-girls-00.webp"
              alt="Koleksi Kacamata Wanita"
              ratio="16x9"
              class="card-img-top"
              loading="lazy" %}
          </a>
          <div class="card-body">
            <h5 class="card-title align-middle">
              <i class="fas fa-check text-green fas-1x"></i> Kacamata Wanita
            </h5>
            <p class="card-text">
              Jelajahi koleksi kacamata wanita Optikal Bahari, manjakan diri Anda dengan beragam koleksi terbaru kami.
            </p>
            <a href="{{ '/kacamata-wanita/' | relative_url }}" class="btn btn-primary rounded-pill text-white text-decoration-none">Lebih Lanjut</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-4 mb-5">
        <div class="card shadow h-100 bg-white rounded hover-zoomin">
          <a href="{{ '/kacamata-pria/' | relative_url }}" role="button" title="Koleksi Kacamata Pria">
            <!-- Card:1 Kacamata Pria -->
            {% include cloudinary/card_image.html
              src="assets/img/posts/kacamata-pria/kacamata-pria-00.webp"
              alt="Koleksi Kacamata Pria"
              ratio="16x9"
              class="card-img-top"
              loading="lazy" %}
          </a>
          <div class="card-body">
            <h5 class="card-title align-middle">
              <i class="fas fa-check text-green fas-1x"></i> Kacamata Pria
            </h5>
            <p class="card-text">
              Kunjungi segera Optikal Bahari & jelajahi beragam koleksi kacamata pria terbaru impian Anda.
            </p>
            <a href="{{ '/kacamata-pria/' | relative_url }}" class="btn btn-primary rounded-pill text-white text-decoration-none">Lebih Lanjut</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-4 mb-5">
        <div class="card shadow h-100 bg-white rounded hover-zoomin">
          <a href="{{ '/kacamata-anak/' | relative_url }}" role="button" title="Kacamata Anak & Remaja">
            <!-- Card:1 Kacamata Anak -->
            {% include cloudinary/card_image.html
              src="assets/img/posts/kacamata-anak/kacamata-anak-00.webp"
              alt="Koleksi Kacamata Anak"
              ratio="16x9"
              class="card-img-top"
              loading="lazy" %}
          </a>
          <div class="card-body">
            <h5 class="card-title align-middle">
              <i class="fas fa-check text-green fas-1x"></i> Kacamata Anak Remaja
            </h5>
            <p class="card-text">
              Koleksi Kacamata Anak & Remaja Terbaru, Siap Menemani Buah Hati Anda Sekeluarga.
            </p>
            <a href="{{ '/kacamata-anak/' | relative_url }}" class="btn btn-primary rounded-pill text-white text-decoration-none">Lebih Lanjut</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
