<section id="KenapaOptikalBahari">
  <div class="card-deck mb-3">
    <div class="row">
      <!-- Card:1 Periksa Mata Gratis !-->
      <div class="col-12 col-md-12 col-lg-4 mb-5">
        <div class="card shadow h-100 p-0 rounded hover-zoomin">
          <a href="{{ '/periksa-mata-gratis/' | relative_url }}" title="Periksa Mata Gratis" role="button" title="Periksa Mata Gratis">
            {% include cloudinary/thumbnail_image.html
              src="assets/img/bg-about.webp"
              alt="Periksa Mata Gratis"
              ratio="16x9"
              class="card-img-top"
              loading="lazy" %}
          </a>
          <div class="card-body">
            <h3 class="card-title">
              <i class="fa-solid fa-circle-check text-green"></i> Periksa Mata Gratis
            </h3>
            <p class="card-text">Lakukan pemeriksaan mata secara teratur untuk penglihatan yang optimal.</p>
            <a href="{{ '/periksa-mata-gratis/' | relative_url }}" title="Periksa Mata Gratis" class="btn btn-primary rounded-pill text-white"><i class="fa-solid fa-circle-arrow-right text-white"></i> Lebih Lanjut</a>
          </div>
        </div>
      </div>
      <!-- Card:2 Kacamata Cicilan 0% !-->
      <div class="col-12 col-md-12 col-lg-4 mb-5">
        <div class="card shadow h-100 p-0 rounded hover-zoomin">
          <a href="{{ '/kacamata-cicilan/' | relative_url }}" title="Kacamata Cicilan 0%" role="button" title="Kacamata Cicilan 0%">
            {% include cloudinary/thumbnail_image.html
              src="assets/img/bg-index-arch-1.webp"
              alt="Kacamata Cicilan 0%"
              ratio="16x9"
              class="card-img-top"
              loading="lazy" %}
          </a>
          <div class="card-body">
            <h3 class="card-title">
              <i class="fa-solid fa-circle-check text-green"></i> Kacamata Cicilan 0%
            </h3>
            <p class="card-text">Beli Kacamata nyicil tanpa DP, tanpa bunga, aman denda, tanpa riba.</p>
            <a href="{{ '/kacamata-cicilan/' | relative_url }}" title="Kacamata Cicilan 0%" class="btn btn-primary rounded-pill text-white"><i class="fa-solid fa-circle-arrow-right text-white"></i> Lebih Lanjut</a>
          </div>
        </div>
      </div>
      <!-- Card:3 Terima Pembayaran KJP !-->
      <div class="col-12 col-md-12 col-lg-4 mb-5">
        <div class="card shadow h-100 p-0 rounded hover-zoomin">
          <a href="{{ '/optikal-bahari-kjp-kartu-jakarta-pintar/' | relative_url }}" role="button" title="Menerima Pembayaran KJP">
            {% include cloudinary/thumbnail_image.html
              src="assets/img/bg-kjp.webp"
              alt="Terima Pembayaran KJP"
              ratio="16x9"
              class="card-img-top"
              loading="lazy" %}
          </a>
          <div class="card-body">
            <h3 class="card-title">
              <i class="fa-solid fa-circle-check text-green"></i> Terima Pembayaran KJP
            </h3>
            <p class="card-text">Kami menerima pembayaran kacamata dengan Kartu Jakarta Pintar.</p>
            <a href="{{ '/optikal-bahari-kjp-kartu-jakarta-pintar/' | relative_url }}" title="Menerima Pembayaran KJP" class="btn btn-primary rounded-pill text-white"><i class="fa-solid fa-circle-arrow-right text-white"></i> Lebih Lanjut</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
