<div class="row">
  <div class="col-12 col-md-12 col-lg-4 mb-5">
    <div class="card shadow h-100 p-0 bg-white rounded hover-zoomin">
      <a href="{{ '/garansi-lensa-kacamata/' | relative_url }}" role="button" title="Garansi Lensa Kacamata">
        {% capture card_content %}
          {% include cloudinary/cloudinary_image.html
              src="/assets/img/bg-garansi.webp"
              alt="Garansi Lensa Kacamata"
              class="card-img-top"
              loading="lazy" %}
        {% endcapture %}
        {% include components/image-ratio.html ratio="16x9" content=card_content %}
      </a>
      <div class="card-body text-center">
        <h5 class="card-title">Lensa Bergaransi</h5>
        <p class="card-text">Setiap pembelian lensa di Optikal Bahari mendapatkan garansi kenyamanan dan coating.</p>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-12 col-lg-4 mb-5">
    <div class="card shadow h-100 p-0 bg-white rounded hover-zoomin">
      <a href="{{ '/harga-lensa-kacamata/' | relative_url }}" role="button" title="Harga Lensa Transparan">
        {% capture card_content %}
          {% include cloudinary/cloudinary_image.html
              src="/assets/img/bg-harga.webp"
              alt="Harga Lensa Kacamata"
              class="card-img-top"
              loading="lazy" %}
        {% endcapture %}
        {% include components/image-ratio.html ratio="16x9" content=card_content %}
      </a>
      <div class="card-body text-center">
        <h5 class="card-title">Harga Transparan</h5>
        <p class="card-text">Kami memberikan informasi harga yang jujur dan transparan tanpa biaya tersembunyi.</p>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-12 col-lg-4 mb-5">
    <div class="card shadow h-100 p-0 bg-white rounded hover-zoomin">
      <a href="{{ '/koleksi-frame-kacamata/' | relative_url }}" role="button" title="Koleksi Frame Trendy">
        {% capture card_content %}
          {% include cloudinary/cloudinary_image.html
              src="/assets/img/bg-frame.webp"
              alt="Koleksi Frame Trendy"
              class="card-img-top"
              loading="lazy" %}
        {% endcapture %}
        {% include components/image-ratio.html ratio="16x9" content=card_content %}
      </a>
      <div class="card-body text-center">
        <h5 class="card-title">Koleksi Trendy</h5>
        <p class="card-text">Pilihan frame kacamata kekinian yang cocok untuk berbagai bentuk wajah dan gaya.</p>
      </div>
    </div>
  </div>
</div>
