<section id="TipsKacamata">
  <div class="card-deck mb-3">
    <div class="row">
      <!-- Tips Memilih Kacamata Sesuai Wajah !-->
      <div class="col-12 col-md-12 col-lg-4 mb-5">
        <div class="card shadow p-0 mb-3 bg-white rounded hover-zoomin">
          <a href="{{ '/tips-kacamata/' | relative_url }}" role="button" title="Tips Memilih Kacamata Sesuai Wajah">
            {% include cloudinary/thumbnail_image.html
              src="assets/img/posts/kpop-female-01/kpop-female-sunglasses-00.webp"
              alt="Tips Memilih Kacamata Sesuai Wajah"
              ratio="16x9"
              class="card-img-top img-fluid" %}
          </a>
          <div class="card-body">
            <h5 class="card-title">
              <i class="fa-solid fa-circle-check text-green"></i>
              Tips Memilih Kacamata Sesuai Wajah
            </h5>
            <p class="card-text">
              Pentingnya mengenali bentuk wajah dalam memilih kacamata, baca lengkapnya disini.
            </p>
            <a class="btn btn-primary rounded-pill text-decoration-none text-white" href="{{ '/tips-kacamata/' | relative_url }}" role="button">
              <i class="fa-solid fa-circle-arrow-right text-white"></i> Lebih Lanjut
            </a>
          </div>
        </div>
      </div>

      <!-- Tips Memilih Kacamata Bagi Pemula !-->
      <div class="col-12 col-md-12 col-lg-4 mb-5">
        <div class="card shadow p-0 mb-3 bg-white rounded hover-zoomin">
          <a href="{{ '/tips-kacamata-pemula-nyaman-dipakai/' | relative_url }}" role="button" title="Tips Memilih Kacamata Bagi Pemula">
            {% include cloudinary/thumbnail_image.html
              src="assets/img/posts/tips-kacamata-kpop/tips-kacamata-pemula-nyaman-dipakai-02.webp"
              alt="Tips Memilih Kacamata Bagi Pemula"
              ratio="16x9"
              class="card-img-top img-fluid" %}
          </a>
          <div class="card-body">
            <h5 class="card-title">
              <i class="fa-solid fa-circle-check text-green"></i>
              Tips Memilih Kacamata Bagi Pemula
            </h5>
            <p class="card-text">
              Baca tips & trik untuk memilih kacamata yang sesuai dengan karakteristik fisik kamu.
            </p>
            <a class="btn btn-primary rounded-pill text-decoration-none text-white" href="{{ '/tips-kacamata-pemula-nyaman-dipakai/' | relative_url }}" role="button">
              <i class="fa-solid fa-circle-arrow-right text-white"></i> Lebih Lanjut
            </a>
          </div>
        </div>
      </div>

      <!-- Tips Memilih Kacamata Berdasarkan Gaya Rambut !-->
      <div class="col-12 col-md-12 col-lg-4 mb-5">
        <div class="card shadow p-0 mb-3 bg-white rounded hover-zoomin">
          <a href="{{ '/tips-kacamata-gaya-rambut/' | relative_url }}" role="button" title="Tips kacamata berdasarkan gaya rambut">
            {% include cloudinary/thumbnail_image.html
              src="assets/img/posts/french-girl/french-girl-02-min.webp"
              alt="Tips Memilih Kacamata Berdasarkan Gaya Rambut"
              ratio="16x9"
              class="card-img-top img-fluid" %}
          </a>
          <div class="card-body">
            <h5 class="card-title">
              <i class="fa-solid fa-circle-check text-green"></i>
              Tips Memilih Kacamata Berdasarkan Rambut
            </h5>
            <p class="card-text">
              Sedang milih kacamata berdasarkan gaya rambut kamu? Baca dulu detail lengkapnya disini.
            </p>
            <a href="{{ '/tips-kacamata-gaya-rambut/' | relative_url }}" class="btn btn-primary rounded-pill text-white text-decoration-none" role="button">
              <i class="fa-solid fa-circle-arrow-right text-white"></i> Lebih Lanjut
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
