<!-- start the Cicilan -->
<div class="card shadow p-0  hover-zoomin">
  <a
    href="{{ '/kacamata-cicilan/' | relative_url }}"
    role="button"
    title="Program Kacamata Cicilan Tanpa Bunga">
    <img
      itemprop="image"
      src="{{ '/assets/img/bg-index-arch-1.webp' | relative_url }}"
      class="card-img-top img-fluid"
      loading="lazy"
      alt="Ada Program Cicilan">
  </a>
  <div class="card-body">
    <h5 class="card-title align-middle">
      <i class="fa-solid fa-circle-check text-green"></i>
      Kacamata Cicilan 0%
    </h3>
    <p class="card-text text-start">
      Beli Kacamata Nyicil, Bayar Bulanan, Tanpa DP, Tanpa Credit Card dan Tanpa Bunga
    </p>
    <p class="card-text text-start">
      <a
        class="btn btn-primary rounded-pill text-white"
        href="{{ '/kacamata-cicilan/' | relative_url }}"
        role="button"
        title="Program Kacamata Cicilan Tanpa Bunga">
        <i class="fa-solid fa-circle-arrow-right text-white"></i> Lebih Lanjut
      </a>
    </p>
  </div>
</div>
<!-- end the Cicilan -->
