<section id="KenapaOptikalBahari">
  <div class="card-deck mb-3">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <a
        href="{{ '/periksa-mata/' | relative_url }}"
        role="button"
        title="Periksa Mata Gratis">
        <img
          src="{{ '/assets/img/bg-about.webp' | relative_url }}"
          class="card-img-top"
          alt="Periksa Mata Gratis">
      </a>
      <div class="card-body">
        <h3 class="card-title">
          Periksa Mata Gratis
        </h3>
        <p class="card-text text-start">
          Lakukan pemeriksaan mata secara rutin dan teratur, idealnya setiap 6 bulan sekali, agar selalu terdeteksi perubahan ukuran mata anda.</p>
        <p class="card-text text-start">
          <a
            class="btn btn-primary rounded-pill text-white"
            href="{{ '/periksa-mata/' | relative_url }}"
            role="button"
            title="Periksa Mata Gratis">Lebih Lanjut</a>
        </p>
      </div>
    </div>

    <div class="card shadow p-3 mb-5 bg-white rounded">
      <a
        href="{{ '/kacamata-cicilan/' | relative_url }}"
        role="button"
        title="Program Kacamata Cicilan Tanpa Bunga">
        <img
          src="{{ '/assets/img/bg-index-arch-1.webp' | relative_url }}"
          class="card-img-top"
          alt="Ada Program Cicilan">
      </a>
      <div class="card-body">
        <h3 class="card-title">
          Ada Program Cicilan
        </h3>
        <p class="card-text text-start">
          Hanya di Optikal Bahari Bisa Beli Kacamata yang Bisa Nyicil, Tanpa melakukan DP, Tanpa Credit Card dan Tanpa Bunga
        </p>
        <p class="card-text text-start">
          <a
            class="btn btn-primary rounded-pill text-white rounded"
            href="{{ '/kacamata-cicilan/' | relative_url }}"
            role="button"
            title="Program Kacamata Cicilan Tanpa Bunga">Lebih Lanjut</a>
        </p>
      </div>
    </div>

    <div class="card shadow p-3 mb-5 bg-white rounded">
      <a
        href="{{ '/optikal-bahari-kjp-kartu-jakarta-pintar/' | relative_url }}"
        role="button"
        title="Menerima Pembayaran KJP">
        <img
          src="{{ '/assets/img/bg-index-arch-2.webp' | relative_url }}"
          class="card-img-top"
          alt="Menerima Pembayaran KJP">
      </a>
      <div class="card-body">
        <h3 class="card-title">
          Menerima KJP
        </h3>
        <p class="card-text text-start">
          Hanya di Optikal Bahari, yang melayani metode pembelian kacamata anda, dengan mekanisme
          pembayaran KJP (Kartu Jakarta Pintar).
        </p>
        <p class="card-text text-start">
          <a
            class="btn btn-primary rounded-pill text-white"
            href="{{ '/optikal-bahari-kjp-kartu-jakarta-pintar/' | relative_url }}"
            role="button"
            title="Menerima Pembayaran KJP">Lebih Lanjut</a>
        </p>
      </div>
    </div>
  </div>
</section>
