{% assign categories = "Lensa,Info,Trend" | split: "," %}
{% for category in categories %}
<section id="posts-category-{{ category | downcase }}">
  <div class="card-deck mb-3">
    <div class="row">
      {% for post in site.categories[category] limit: 3 %}
      <div class="col-12 col-md-{% if forloop.index == 1 %}12{% else %}6{% endif %} col-lg-4 mb-5">
        <div class="card shadow p-0 rounded hover-zoomin fade-in-on-scroll">
          <a href="{{ post.url | relative_url }}" title="{{ post.title }}" role="button" class="card-img-overlay-gradient">
            {% if post.background %}
                {% include cloudinary/thumbnail_image.html
                    src=post.background
                    alt=post.title
                    class="card-img-top"
                    ratio="16x9"
                    loading="lazy" %}
            {% endif %}
          </a>
          <div class="card-body">
            <h3 class="card-title">{{ post.title | truncate: 50 }}</h3>
            <p class="card-text">
              {{ post.description | strip_html | truncate: 100 }}.
              <a class="btn btn-primary rounded-pill text-white mt-3 align-text-bottom text-decoration-none"
                href="{{ post.url | relative_url }}" title="{{ post.title }}">
                <i class="fa-solid fa-circle-arrow-right text-white"></i> Lebih Lanjut
              </a>
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">
              Posted by {{ post.author | default: site.author }}
              on {{ post.date | date: '%B %d, %Y' }} &middot;
              {% include postcards/read_time.html content=post.content %}
            </small>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endfor %}
