<section id="posts-category">
  <div class="card-deck">
    {% for post in site.posts limit : 3 %}
    <div class="card">
      <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
        {% if page.background %}
        <img
          src="{{ post.background | prepend: site.baseurl | replace: '//', '/' }}"
          class="card-img-top"
          alt="{{ post.title }}"
        />
      </a>
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text text-left">
          {{ post.description | strip_html | truncatewords: 15 }}.
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}"
            >Selengkapnya</a
          >
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">
          Posted by {% if post.author %} {{ post.author }} {% else %} {{
          site.author }} {% endif %} on {{ post.date | date: '%B %d, %Y' }}
          &middot; {% include postcards/read_time.html content=post.content %}
        </small>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
