<section id="posts-category-lensa">
  <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
    {% for post in site.categories.Lensa limit : 3 %}
    <div class="col">
      <div class="card h-100 shadow p-0 rounded hover-zoomin">
        <a
          href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}"
          title="{{ post.title }}"
        >
          {% if post.background %}
          {% capture card_content %}
          <img
            itemprop="image"
            src="{{ post.background | prepend: site.baseurl | replace: '//', '/' }}"
            class="card-img-top img-fluid"
            alt="{{ post.title }}"
            loading="lazy"
            decoding="async"
            width="400"
            height="250"
          />
          {% endcapture %}
          {% include cloudinary/image-ratio.html ratio="16x9" content=card_content %}
          {% endif %}
        </a>
        <div class="card-body">
          <h3 class="card-title">{{ post.title | truncate: 50 }}</h3>
          <p class="card-text text-start">
            {{ post.description | strip_html | truncate: 100 }}
            <a
              class="btn btn-primary rounded-pill text-white mt-3 align-text-bottom text-decoration-none"
              href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}"
              title="{{ post.title }}"
            >
              <i class="fa-solid fa-circle-arrow-right text-white"></i> Lebih Lanjut
            </a>
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            <i class="fas fa-user"></i>
            {% if post.author %} {{ post.author }} {% else %} {{ site.author }} {% endif %}
            <i class="fas fa-calendar-day"></i>
            {{ post.date | date: '%B %d, %Y' }}
            <i class="fas fa-circle"></i>
            {% include postcards/read_time.html content=post.content %}
          </small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<section id="posts-category-lensa-info">
  <div class="row row-cols-1 row-cols-md-3 g-4 mb-2">
    {% for post in site.categories.Info limit : 3 %}
    <div class="col">
      <div class="card h-100 shadow p-0 rounded hover-zoomin">
        <a
          href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}"
          title="{{ post.title }}"
        >
          {% if post.background %}
          {% capture card_content %}
          <img
            itemprop="image"
            src="{{ post.background | prepend: site.baseurl | replace: '//', '/' }}"
            class="card-img-top img-fluid"
            alt="{{ post.title }}"
          />
          {% endcapture %}
          {% include cloudinary/image-ratio.html ratio="16x9" content=card_content %}
          {% endif %}
        </a>
        <div class="card-body">
          <h3 class="card-title">{{ post.title | truncate: 50 }}</h3>
          <p class="card-text text-start">
            {{ post.description | strip_html | truncate: 100 }}.
            <a
              class="btn btn-primary rounded-pill text-white mt-3 align-text-bottom text-decoration-none"
              href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}"
              title="{{ post.title }}"
            >
              <i class="fa-solid fa-circle-arrow-right text-white"></i> Lebih Lanjut
            </a>
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            <i class="fas fa-user"></i>
            {% if post.author %} {{ post.author }} {% else %} {{ site.author }} {% endif %}
            <i class="fas fa-calendar-day"></i>
            {{ post.date | date: '%B %d, %Y' }}
            <i class="fas fa-circle"></i>
            {% include postcards/read_time.html content=post.content %}
          </small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<section id="posts-category-lensa-trend">
  <div class="row row-cols-1 row-cols-md-3 g-4 mb-2">
    {% for post in site.categories.Trend limit : 3 %}
    <div class="col">
      <div class="card h-100 shadow p-0 rounded hover-zoomin">
      <a
        href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}"
        title="{{ post.title }}"
      >
        {% if post.background %}
        {% capture card_content %}
        <img
          itemprop="image"
          src="{{ post.background | prepend: site.baseurl | replace: '//', '/' }}"
          class="card-img-top img-fluid"
          alt="{{ post.title }}"
        />
        {% endcapture %}
        {% include cloudinary/image-ratio.html ratio="16x9" content=card_content %}
        {% endif %}
      </a>
      <div class="card-body">
        <h3 class="card-title">{{ post.title | truncate: 50 }}</h3>
        <p class="card-text text-start">
          {{ post.description | strip_html | truncate: 100 }}.
          <a
            class="btn btn-primary rounded-pill text-white mt-3 align-text-bottom text-decoration-none"
            href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}"
            title="{{ post.title }}"
          >
            <i class="fa-solid fa-circle-arrow-right text-white"></i> Lebih Lanjut
          </a>
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">
          <i class="fas fa-user"></i>
          {% if post.author %} {{ post.author }} {% else %} {{ site.author }} {% endif %}
          <i class="fas fa-calendar-day"></i>
          {{ post.date | date: '%B %d, %Y' }}
          <i class="fas fa-circle"></i>
          {% include postcards/read_time.html content=post.content %}
        </small>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
