<!-- _includes/post-card.html -->
<div class="card shadow p-0  hover-zoomin">
  <a
    href="{{ include.post.url | prepend: site.baseurl | replace: '//', '/' }}"
    title="{{ include.post.title }}"
  >
    {% if include.post.background %}
      {% capture card_content %}
        <img
          itemprop="image"
          src="{{ include.post.background | prepend: site.baseurl | replace: '//', '/' }}"
          class="card-img-top img-fluid"
          alt="{{ include.post.title }}"
          loading="lazy"
          decoding="async"
          width="400"
          height="250"
        />
      {% endcapture %}
      {% include cloudinary/image-ratio.html ratio="16x9" content=card_content %}
    {% endif %}
  </a>
  <div class="card-body">
    <h3 class="card-title">{{ include.post.title | truncate: 50 }}</h3>
    <p class="card-text text-start">
      {{ include.post.description | strip_html | truncate: 100 }}
      <a
        class="btn btn-primary rounded-pill text-white mt-3 align-text-bottom text-decoration-none"
        href="{{ include.post.url | prepend: site.baseurl | replace: '//', '/' }}"
        title="{{ include.post.title }}"
      >
        <i class="fa-solid fa-circle-arrow-right text-white"></i> Lebih Lanjut
      </a>
    </p>
  </div>
  <div class="card-footer">
    <small class="text-muted">
      Posted by {% if include.post.author %} {{ include.post.author }} {% else %} {{ site.author }}
      {% endif %} on {{ include.post.date | date: '%B %d, %Y' }} · {% include
      postcards/read_time.html content=include.post.content %}
    </small>
  </div>
</div>
