<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "name": "Optikal Bahari",
    "image": ["{{ 'assets/img/bg-stories-index.jpeg' | cloudinary_url: 'q_auto,f_auto' | replace: 'https://res.cloudinary.com/divkqrf7k', 'https://assets.optikalbahari.com' | append: '.webp' }}"],
    "@id": "{{ site.url }}{{ site.baseurl }}/",
    "url": "{{ site.url }}{{ site.baseurl }}/",
    "telephone": "+6281511223900",
    "priceRange": "$$",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Jl. Bend. Jago No.447, RW.1, Utan Panjang, Kec. Kemayoran",
      "addressLocality": "Kota Jakarta Pusat",
      "addressRegion": "Daerah Khusus Ibukota Jakarta",
      "postalCode": "10650",
      "addressCountry": "ID"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": -6.1668822,
      "longitude": 106.8454955
    },
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "5.0",
      "reviewCount": "512"
    },
    "review": [
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Ramdani Yusuf"
        },
        "publisher": {
          "@type": "Organization",
          "name": "Google",
          "url": "https://www.google.com/"
        },
        "datePublished": "2024-04-09",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5",
          "bestRating": "5",
          "worstRating": "1"
        },
        "reviewBody": "Garansinya beneran lho, pelayanan baik dan ramah ngga nyesel deh kesini yuk cuzz yang lagi cari kacamata meluncurrr❤"
      },
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Budi Santoso"
        },
        "publisher": {
          "@type": "Organization",
          "name": "Google",
          "url": "https://www.google.com/"
        },
        "datePublished": "2024-01-15",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5",
          "bestRating": "5",
          "worstRating": "1"
        },
        "reviewBody": "Pelayanan sangat memuaskan, kacamata selesai dengan cepat dan harganya terjangkau."
      },
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Dewi Sartika"
        },
        "publisher": {
          "@type": "Organization",
          "name": "Google",
          "url": "https://www.google.com/"
        },
        "datePublished": "2024-03-20",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5",
          "bestRating": "5",
          "worstRating": "1"
        },
        "reviewBody": "Kualitas lensa sangat bagus, periksa matanya juga detail banget. Terima kasih Optikal Bahari."
      }
    ]
  }
</script>
