<script type='application/ld+json'>
  {
    "@context": "https://schema.org",
    "@type": "Optician",
    "name": "{{ site.title }}",
    "url": "{{ site.url }}{{ site.baseurl }}/",
    "telephone": "+6281932235445",
    "priceRange": "$$",
    "currenciesAccepted": "IDR",
    "paymentAccepted": "Cash, Debit Card, NFC, QRIS",
    "image": [
      "https://assets.optikalbahari.com/image/upload/q_auto,f_auto/assets/img/posts/periksa-mata/periksa-mata-gratis-optikal-bahari-14.webp",
      "https://assets.optikalbahari.com/image/upload/q_auto,f_auto/assets/img/posts/periksa-mata/periksa-mata-gratis-optikal-bahari-2.webp",
      "https://assets.optikalbahari.com/image/upload/q_auto,f_auto/assets/img/posts/periksa-mata/periksa-mata-gratis-optikal-bahari-10.webp",
      "https://assets.optikalbahari.com/image/upload/q_auto,f_auto/assets/img/posts/periksa-mata/periksa-mata-gratis-optikal-bahari-11.webp"
    ],
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Jl. Bendungan Jago No.447, RW.1, Utan Panjang, Kec. Kemayoran",
      "addressLocality": "Kota Jakarta Pusat",
      "addressRegion": "Daerah Khusus Ibukota Jakarta",
      "postalCode": "10650",
      "addressCountry": "ID"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": -6.161815554395783,
      "longitude": 106.85789672789805
    },
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "5.0",
      "reviewCount": "512"
    },
    "review": {
      "@type": "Review",
      "reviewRating": {
        "@type": "Rating",
        "ratingValue": "5",
        "bestRating": "5",
        "worstRating": "1"
      },
      "author": {
        "@type": "Organization",
        "name": "Optikal Bahari",
        "url": "{{ site.url }}{{ site.baseurl }}/"
      }
    },
    "openingHoursSpecification": [
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
        "opens": "09:00",
        "closes": "22:00"
      }
    ]
  }
</script>
