<script type='application/ld+json'>
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "image": "{{ page.background | cloudinary_url: 'q_auto,f_jpg' | replace: 'https://res.cloudinary.com/divkqrf7k', 'https://assets.optikalbahari.com' | append: '.jpg' }}",
    "url": "{{ site.url }}",
    "sameAs": [
      "https://www.facebook.com/OptikalBahari",
      "https://id.pinterest.com/optikalbahari/",
      "https://www.youtube.com/@optikalbahari/",
      "https://www.instagram.com/optikalbahari/",
      "https://twitter.com/OptikalBahari"
    ],
    "logo": {
      "@type": "ImageObject",
      "url": "{{ 'assets/img/icons/optikalbahari.png' | cloudinary_url: 'q_auto,f_png' | replace: 'https://res.cloudinary.com/divkqrf7k', 'https://assets.optikalbahari.com' | append: '.png' }}",
      "width": 600,
      "height": 60
    },
    "name": {{ site.author_name | jsonify }},
    "description": "{% if page.description.size > 10 %} {{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160 }}{% endif %}",
    "email": "optikalbahari@gmail.com",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Jalan Bendungan Jago No.447",
      "addressLocality": "Utan Panjang, Kemayoran",
      "addressRegion": "Jakarta Pusat",
      "addressCountry": "ID",
      "postalCode": "10650"
    }
  }
</script>
